@import 'variables';

@mixin border() {
  border-bottom: 1px solid $borderColor;
}

:host ::ng-deep {
  .nav {
    &.nav-tabs {
      border-bottom: 4px solid #e7ecef;
      .nav-item {
        .nav-link {
          text-decoration: none;
          width: 174px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          color: #3c3c3c;
          opacity: 0.5;
          background-color: #fff;
          border: 1px solid transparent;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          &:hover {
            background-color: #f4f6f7;
            opacity: 1;
          }
          &.active {
            opacity: 1;
            background-color: #e7ecef;
          }
        }
      }
    }
  }
}

ul {
  max-height: 260px;
  position: relative;
  li.modal-list {
    padding: 15px 36px;
    list-style: none;
    border-bottom: 1px solid #3c3c3c;
  }
}

img {
  height: 16px;
}

p.label {
  font-weight: 500;
  height: 25px;
}

.custom-switch .custom-control-label {
  &::before {
    width: 50px;
    background-color: #9ea1ae;
    border-radius: 2.5rem;
    height: 25px;
    left: -2.35rem;
    top: -1px;
    box-shadow: none;
    border-color: transparent;
  }
  &::after {
    height: 19px;
    width: 19px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(0.15625rem + -1px);
  }
}

.custom-switch {
  .custom-control-input {
    &:checked ~ .custom-control-label {
      &::before {
        color: #fff;
        border-color: #00d46c;
        background-color: #00d46c;
        box-shadow: none;
        border-color: transparent;
      }
      &::after {
        transform: translateX(1.5rem);
      }
    }
  }
}
