<div class="modal-header">
    <h4 class="modal-title">importar valores de projeto específico</h4>
    <button
      (click)="close()"
      aria-label="Close"
      class="close btn-icon"
      type="button"
    >
      <i class="icon icon-close"></i>
    </button>
  </div>
<div class="modal-body">
  <tabset>
    <tab heading="Projeto" customClass="customClass" id="tab-valores-projetos">
      <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center ml-3">
          <div class="col-md-3 custom-control custom-switch d-flex align-items-center p-0">
            <p class="label">
              mesmo edifício
              <span>
                <input type="checkbox" checked class="custom-control-input" id="switch-modal-edificio">
                <label class="custom-control-label ml-5" for="switch-modal-edificio"></label>
              </span>
            </p>
          </div>
          <div class="col-md-3 custom-control custom-switch p-0">
            <p class="label">
              mesmo cliente
              <span>
                <input type="checkbox" class="custom-control-input" id="switch-modal-cliente">
                <label class="custom-control-label ml-5" for="switch-modal-cliente"></label>
              </span>
            </p>
          </div>
          <div class="col-md-4 custom-control custom-switch p-0">
            <p class="label">
              mesma segmentação
              <span>
                <input type="checkbox" class="custom-control-input" id="switch-modal-segmentacao">
                <label class="custom-control-label ml-5" for="switch-modal-segmentacao"></label>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-md-10">
          <input type="text" class="form-control" placeholder="pesquisar por projeto" />
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-md-10">
          <ul class="p-0" perfectScrollbar>
            <li class="modal-list">LISTA 1</li>
            <li class="modal-list">LISTA 2</li>
            <li class="modal-list">LISTA 3</li>
            <li class="modal-list">LISTA 4</li>
            <li class="modal-list">LISTA 1</li>
            <li class="modal-list">LISTA 2</li>
            <li class="modal-list">LISTA 3</li>
            <li class="modal-list">LISTA 4</li>            
            <li class="modal-list">LISTA 1</li>
            <li class="modal-list">LISTA 2</li>
            <li class="modal-list">LISTA 3</li>
            <li class="modal-list">LISTA 4</li>            
            <li class="modal-list">LISTA 1</li>
            <li class="modal-list">LISTA 2</li>
            <li class="modal-list">LISTA 3</li>
            <li class="modal-list">LISTA 4</li>           
            <li class="modal-list">LISTA 1</li>
            <li class="modal-list">LISTA 2</li>
            <li class="modal-list">LISTA 3</li>
            <li class="modal-list">LISTA 4</li>            
            <li class="modal-list">LISTA 1</li>
            <li class="modal-list">LISTA 2</li>
            <li class="modal-list">LISTA 3</li>
            <li class="modal-list">LISTA 4</li>
          </ul>
        </div>
      </div>
    </tab>
    <tab heading="Grupos" customClass="customClass" id="tab-valores-grupos">
      Content de Grupos
    </tab>
  </tabset>
</div>
 
