<ng-content select="[collapse-heading]"></ng-content>
<div
  #collapse="bs-collapse"
  [collapse]="!isOpen"
  [class.expanded]="isOpen"
  class="collapse-body"
  [isAnimated]="true"
  (expanded)="onExpand()"
>
  <ng-content></ng-content>
</div>
