<tabset>
  <tab>
    <ng-template tabHeading>
      <span class="tab-title">Anexos avulsos</span>
      <span class="tab-counter">17/100</span>
    </ng-template>
    Content de Anexos Avulsos
  </tab>
  <tab customClass="prospecao">
    <ng-template tabHeading>
      <span class="tab-title">Prospecção</span>
      <span class="tab-counter">17/100</span>
    </ng-template>
    <div class="tab-header d-flex align-items-center">
      <div class="custom-control custom-switch d-flex align-items-center">
        <label class="mb-0" for="faseStatus">Status da fase:</label>
        <input class="custom-control-input" id="faseStatus" type="checkbox">
        <label class="custom-control-label ml-5" for="faseStatus">
          <span class="switch-text ml-4">ativa</span>
        </label>
      </div>
      <div class="custom-control custom-switch d-flex align-items-center">
        <label class="mb-0" for="showOnly">mostrar:</label>
        <input class="custom-control-input" id="showOnly" type="checkbox">
        <label class="custom-control-label ml-5" for="showOnly">
          <span class="switch-text ml-4">apenas selecionados</span>
        </label>
      </div>
      <ng-select
        [items]="[]"
        class="file-type"
        id="fileTypes"
        placeholder="tipos de arquivos">
      </ng-select>
    </div>
    <div class="row">
      <div class="col-3">
        <aside class="sidebar">
          <ul *ngFor="let site of (sites$ | async)?.sites" class="list-unstyled">
            <li class="site">{{site.nomeCondominio}}</li>
            <li *ngFor="let building of site.edificios" class="building">
              {{building.nomeEdificio}}
              <ul class="list-unstyled">
                <li *ngFor="let floor of building.pavimentos" [class.active]="floor.idPavimento === 15"
                    class="floor">{{floor.nomePavimento | lowercase}}</li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-9">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ipsam odio perferendis reiciendis veniam! Alias
        enim
        ex explicabo fugiat harum, incidunt itaque laboriosam laudantium, maxime numquam porro provident vel, vitae?
      </div>
    </div>
  </tab>
  <tab>
    <ng-template tabHeading>
      <span class="tab-title">Levantamento</span>
      <span class="tab-counter">17/100</span>
    </ng-template>
    Content de Levantamento
  </tab>
  <tab>
    <ng-template tabHeading>
      <span class="tab-title">Estudo preliminar</span>
      <span class="tab-counter">17/100</span>
    </ng-template>
    Content Estudo preliminar
  </tab>
  <tab>
    <ng-template tabHeading>
      <span class="tab-title">Anteprojeto</span>
      <span class="tab-counter">17/100</span>
    </ng-template>
    content Anteprojeto
  </tab>
  <tab>
    <ng-template tabHeading>
      <span class="tab-title">Executivo</span>
      <span class="tab-counter">17/100</span>
    </ng-template>
    content Executivo
  </tab>
</tabset>
