@import 'variables';

:host {
  ::ng-deep {
    .nav {
      &.nav-tabs {
        padding: 0 15px;
        border-bottom: 4px solid var(--very-light-blue);

        .nav-item {
          min-width: 148px;

          .nav-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-weight: 500;
            color: $headings-color;
            opacity: 0.5;
            background-color: white;
            border: 1px solid transparent;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            &:hover {
              background-color: #f4f6f7;
              opacity: 1;
            }

            .tab-counter {
              color: var(--brownish-grey);
              font-size: 12px;
              font-weight: normal;
            }

            &.active {
              opacity: 1;
              background-color: var(--very-light-blue);
            }
          }
        }
      }
    }

    .tab-content {
      .tab-pane {
        &:not(.prospecao) {
          padding: 0 1rem;
        }

        &.prospecao {
          &.active {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

.tab-header {
  height: 65px;
  border-bottom: solid 1px var(--bluey-grey);

  .file-type {
    margin-left: 2.25rem;
    min-width: 146px;
  }
}

.sidebar {
  background-color: var(--ice-blue);
  height: 100%;
  padding-top: 54px;
  border-bottom-left-radius: $border-radius;

  ul {
    li {
      font-weight: normal;
      font-size: $h5-font-size;
      color: var(--steel);
      transition: color 300ms ease, border-color 300ms ease-in-out;

      &.active {
        color: var(--dusty-teal);
      }

      &.site,
      &.building {
        margin-bottom: 8px;
      }

      &.site,
      &.building {
        padding: 0 20px;
      }

      &.floor {
        margin-top: 4px;
        padding-left: 30px;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: -20px;
        border-style: solid;
        border-width: 1px 1px 1px 0;
        border-color: transparent;
        border-radius: 0 100px 100px 0;

        &.active {
          border-color: var(--dusty-teal);
        }
      }
    }
  }
}
