@import 'variables';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 16px;
  font-weight: 500;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

[class^='-icon-caret-'],
[class*='icon-caret-'] {
  font-size: 4.6px;
  color: $primary;
  margin-left: 15px;
}

.border-bottom-divisor {
  border-bottom: solid 1px $tooltip-color;
}

.pt-pb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.th-area {
  p {
    font-size: 12px;
    font-weight: 500;
    color: #7b8594;
  }
}

.line-group {
  font-size: 12px;
  padding: 15px 0px;
}

.pill {
  background: #f2f5f7;
  border-radius: 3px;
  padding: 5px 5px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  width: 100%;

  .icon {
    font-size: 14px;
  }

  & + .pill {
    margin-top: 5px;
  }
}

.color-custom-grey {
  color: #3c3c3c;
  opacity: 0.5;
}

.btn-plus {
  margin-right: 3px;
}

.wrapper {
  height: 100%;
}

.fornecedor-info {
  font-size: 11px;
  font-weight: normal;
  margin: 0;
  color: #7b8594;
}
