<div
  class="d-flex flex-column justify-content-start wrapper"
  *ngIf="familias$ | async as familias"
>
  <app-collapse [closeOthers]="true">
    <app-collapse-group
      *ngFor="let familia of familias; let i = index"
      class="mb-40 d-block"
      [(isOpen)]="collapses['isOpen_' + i]"
    >
      <ng-container collapse-heading>
        <h1
          class="family-group-header d-flex align-items-center"
          (click)="collapses['isOpen_' + i] = !collapses['isOpen_' + i]"
        >
          {{ familia.descricaoFamilia | lowercase }}
          <i
            class="icon"
            [class.icon-caret-up]="collapses['isOpen_' + i]"
            [class.icon-caret-down]="!collapses['isOpen_' + i]"
          ></i>
        </h1>
      </ng-container>
      <div
        class="d-flex align-items-center border-bottom-divisor pt-15 th-area"
      >
        <p class="mb-0 w-55 p-0">grupos</p>
        <p class="mb-0 w-45 p-0">fornecedores</p>
      </div>

      <ng-container *ngFor="let grupoes of familia.grupoes">
        <div
          class="d-flex line-group border-bottom-divisor align-items-center"
          *ngFor="let grupo of grupoes.grupos; let iGroup = index"
        >
          <div class="w-55 p-0 d-flex align-items-center">
            <p class="mb-0">{{ grupo.codigoGrupo }}</p>
            <span class="mr-3 ml-3">-</span>
            <p class="mb-0">{{ grupo.nomeGrupo | lowercase }}</p>
          </div>
          <ng-container *ngIf="grupo.fornecedores?.length">
            <div
              class="w-32 p-0 pr-4 d-flex align-items-start flex-column h-100"
              [attr.data-index]="iGroup"
            >
              <div
                class="pill"
                *ngFor="let fornecedor of grupo.fornecedores; let iPill = index"
                [attr.data-index]="iPill"
              >
                {{fornecedor.nomeFantasia | titlecase}}

                <span class="fornecedor-info">CNPJ {{fornecedor.cnpj | formattedCNPJ}}</span>

                <button class="btn btn-icon" type="button" (click)="setFav(grupo.idOrcamentoGrupo, fornecedor)"><i
                  class="icon pointer-events-none"
                  [class.icon-star-full]="fornecedor.favorito"
                  [class.icon-star-empty]="!fornecedor.favorito"></i>
                </button>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!grupo.fornecedores?.length">
            <div
              class="w-32 p-0 pr-4 d-flex align-items-center justify-content-start"
            >
              <p class="m-0 color-custom-grey">nenhum fornecedor selecionado</p>
            </div>
          </ng-container>
          <div class="w-13 p-0 d-flex justify-content-end align-items-center">
            <button
              class="btn btn-plus btn-circle"
              type="button"
              (click)="openFornecedoresModal(grupo)"
            >
              <i class="icon icon-plus"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </app-collapse-group>
  </app-collapse>

  <div class="d-flex justify-content-end mt-auto">
    <a
      routerLink="../responsaveis"
      class="btn gradient-btn btn-secondary btn-custom"
    >
      voltar
    </a>
    <button
      class="btn gradient-btn btn-success btn-custom ml-4 d-flex justify-content-center"
      type="button"
    >
      salvar
    </button>
    <a
      routerLink="../estrategias"
      class="btn gradient-btn btn-primary btn-custom ml-4 d-flex justify-content-center"
    >
      próximo
    </a>
  </div>
</div>
