<ng-container *ngIf="familias$ | async as families">
  <div class="d-flex justify-content-end mb-40">
    <button
      class="btn gradient-btn btn-success"
      type="button"
      (click)="criarNovaFamilia()"
    >
      criar novo grupo família
    </button>
  </div>

  <div
    class="dropArea mb-40"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="families">
    <app-familia
      cdkDrag
      *ngFor="let familia of families; trackBy: trackByFn"
      [familia]="familia"
    ></app-familia>
  </div>
</ng-container>
<div class="d-flex justify-content-end mt-auto">
  <a routerLink="../" class="btn gradient-btn btn-secondary btn-custom">
    voltar
  </a>
  <button
    type="button"
    (click)="salvaOrdem()"
    class="btn gradient-btn btn-success btn-custom ml-4"
  >
    salvar
  </button>
  <button
    type="button"
    class="btn gradient-btn btn-primary btn-custom ml-4"
    (click)="salvaOrdem(true)"
  >
    próximo
  </button>
</div>
