<ng-container *ngIf="familia$ | async as familia">
  <div class="modal-header">
    <h4 class="modal-title">
      adicionar grupos de {{ familia?.descricaoFamilia | lowercase }}
    </h4>
    <button
      (click)="close()"
      aria-label="Close"
      class="close btn-icon"
      type="button"
    >
      <i class="icon icon-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-grupao
      *ngFor="let grupao of familia?.grupoes"
      [selectionMode]="true"
      [grupao]="grupao"
    ></app-grupao>
  </div>
  <div class="modal-footer">
    <button
      (click)="close()"
      class="btn btn-secondary gradient-btn"
      type="button"
    >
      cancelar
    </button>
    <button class="btn btn-primary gradient-btn" type="button" (click)="save()">
      confirmar
    </button>
  </div>
</ng-container>
