@import 'variables';

:host ::ng-deep .modalTabs {
  > .nav-pills {
    display: flex;
    justify-content: space-between;
    position: relative;

    .nav-link {
      flex-direction: column;
      justify-content: center;
    }

    .nav-item {
      &:not(:last-child) {
        &:after {
          display: block;
          z-index: 9;
          position: absolute;
          width: 81.5%;
          height: 1px;
          background-color: $headings-color;
          content: '';
          top: 22%;
          left: 8.7%;
        }
      }

      .title {
        max-width: 98px;
        margin-top: 10px;
      }
    }
  }

  .step-3 {
    margin: 0 -1rem;
  }

  > .tab-content {
    margin-top: 30px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
}

.tabslist {
  list-style: none;
}
