<div class="modal-header">
  <h4 class="modal-title">Envio de Cotação</h4>
  <button
    (click)="bsModalRef.hide()"
    aria-label="Close"
    class="close btn-icon"
    type="button"
  >
    <i class="icon icon-close"></i>
  </button>
</div>
<div class="modal-body pb-0">
  <form class="form">
    <tabset #staticTabs class="modalTabs" type="pills">
      <tab>
        <ng-template tabHeading>
          <span class="tab-indicator">1</span>
          <span class="title text-center">contato e datas</span>
        </ng-template>
        <app-step1></app-step1>
      </tab>
      <tab>
        <ng-template tabHeading>
          <span class="tab-indicator">2</span>
          <span class="title text-center">fornecedores</span>
        </ng-template>
        <app-step2></app-step2>
      </tab>
      <tab customClass="step-3">
        <ng-template tabHeading>
          <span class="tab-indicator">3</span>
          <span class="title text-center">arquivos</span>
        </ng-template>
        <app-step3 [idOrcamento]="idOrcamento"></app-step3>
      </tab>
      <tab>
        <ng-template tabHeading>
          <span class="tab-indicator">4</span>
          <span class="title text-center">condições de fornecimento</span>
        </ng-template>
      </tab>
    </tabset>
  </form>
</div>
