<app-collapse>
  <app-collapse-group
    (expand)="getItemInfo(orcamento.idOrcamento, grupo.idOrcamentoGrupo)"
    [(isOpen)]="collapses['isOpen_items_' + grupo.idOrcamentoGrupo]">
    <div
      (click)="collapses['isOpen_items_' + grupo.idOrcamentoGrupo] = !collapses['isOpen_items_' + grupo.idOrcamentoGrupo]"
      [class.expanded]="collapses['isOpen_items_' + grupo.idOrcamentoGrupo]"
      class="heading"
      collapse-heading>
      <h6 class="group-info">
          <span class="code">
            {{ grupo?.grupo?.codigoGrupo }}
          </span>
        <span class="divider">-</span>
        <span class="name">
          {{ grupo?.grupo?.nomeGrupo | lowercase }}
        </span>
      </h6>
      <p *ngIf="grupo.complementoOrcamentoGrupo; else hasNoComplement" class="room-name">
        grupo.complementoOrcamentoGrupo
      </p>
      <ng-template #hasNoComplement>
        <p *ngIf="collapses['isOpen_items_' + grupo.idOrcamentoGrupo]" class="no-room-name">complemento do grupo</p>
      </ng-template>

      <div class="col-5 d-flex justify-content-between align-items-center">
        <p>{{ grupo.dataLimiteEscopoOrcamentoGrupo | date : "dd/MM/yyyy" }}
          - {{ grupo.dataLimiteEscopoOrcamentoGrupo | date : "HH:mm" }}</p>
        <p>{{ grupo.dataLimiteCustosOrcamentoGrupo | date : "dd/MM/yyyy"}}
          - {{ grupo.dataLimiteCustosOrcamentoGrupo | date : "HH:mm" }}</p>
        <p>{{ grupo.valorMetaPlanoOrcamentoGrupo | currency:' ':'symbol-narrow' }}</p>
        <i
          [class.icon-caret-down]="!collapses['isOpen_items_' + grupo.idOrcamentoGrupo]"
          [class.icon-caret-up]="collapses['isOpen_items_' + grupo.idOrcamentoGrupo]"
          class="icon"></i>
      </div>
    </div>
    <ng-container *ngIf="groupInfo[grupo.idOrcamentoGrupo]">
      <app-cotacao-fornecedores-header (toggleFornecedores)="toggleFornecedores($event)"
                                       [info]="groupInfo[grupo.idOrcamentoGrupo]"></app-cotacao-fornecedores-header>
      <app-cotacao-fornecedores-list
        [class.hideFornecedores]="toggleFornecedoresStatus"
        [idOrcamento]="grupo.idOrcamento"
        [info]="groupInfo[grupo.idOrcamentoGrupo].orcamentoCenarioGrupo?.propostas">
      </app-cotacao-fornecedores-list>
    </ng-container>
  </app-collapse-group>
</app-collapse>
