@import 'variables';
$spacing: 10px;

.responsaveis {
  padding: $spacing * 1.6 $spacing * 2.2;
  width: 70%;

  ul {
    margin: 0 0 $spacing * 1.4 0;

    li {
      width: 26px;
      height: 26px;
      text-align: center;
      overflow: hidden;
      margin-right: $spacing / 2;
      border: 1px solid #fff;
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);

      &:nth-child(2n + 2) {
        width: 20px;
        height: 20px;
      }

      &:nth-child(2n + 3) {
        margin-left: $spacing / 1.8;
      }

      img {
        width: 100%;
      }
    }
  }

  .comments {
    margin-bottom: $spacing;
    font-size: $font-size-base;
  }

  .form-checkout {
    margin-left: $spacing * 1.4;

    label {
      font-size: $small-font-size;
      color: #3c3c3c;
      cursor: pointer;
      user-select: none;
    }
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  margin-top: 20px;
  background-color: var(--very-light-blue);
  cursor: pointer;
  border-radius: $border-radius;

  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .group-info {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    .code {
      min-width: 54px;
      display: inline-block;
    }

    .divider {
      margin-right: 10px;
    }

    .name {
      text-transform: lowercase;
    }
  }

  p {
    margin-bottom: 0;

    &:not(.no-room-name):not(.room-name) {
      font-weight: 500;
    }

    small {
      font-size: 7px;
    }
  }

  [class^='icon-caret-'],
  [class*='icon-caret-'] {
    color: $blue;
    font-size: 4.6px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-athie {
    min-width: 1200px !important;
  }
}

.room-name {
  color: #8f9596;
}

.no-room-name {
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  display: block;
}

.room-name,
.no-room-name {
  font-size: $small-font-size;
}

:host ::ng-deep {
  .collapse-body {
    background-color: var(--very-light-blue);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
