<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Contrato principal
        </h3>
      </div>
      <div class="card-body">
        <h6 *ngIf="projeto" class="project-name">
          <strong class="text-success">{{ projeto?.numeroProjeto }}</strong>
          {{ projeto?.nomeProjeto }}
        </h6>
      </div>
    </div>
  </div>
  <div class="col-12">
    <button
      (click)="openModalOrcamento()"
      class="btn btn-primary gradient-btn toggle-modal btn-block"
      type="button"
    >
      Cadastrar configuração de orçamento
    </button>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-borderless fixed-header">
            <thead class="thead-gray">
              <tr>
                <th class="w-30" scope="col">Nome do orçamento (Site)</th>
                <th scope="col">Edifícios</th>
                <th scope="col">Fases</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody class="position-relative" perfectScrollbar>
              <ng-container
                *ngFor="let orcamento of projeto?.orcamentos; let i = index"
              >
                <tr>
                  <td>
                    {{ orcamento.nomeOrcamento }}
                  </td>
                  <td class="buildings">
                    <span
                      *ngFor="let edificio of orcamento?.edificios"
                      class="building"
                    >
                      {{ edificio?.nomeEdificio }}</span
                    >
                  </td>
                  <td class="fases">
                    <span *ngFor="let fase of orcamento?.fases" class="fase">
                      {{ fase?.nomeFase }} -
                      {{ fase?.dataInicioFase | date: 'dd/MM/yyyy' }} >
                      {{ fase?.dataFimFase | date: 'dd/MM/yyyy' }}
                    </span>
                  </td>
                  <td class="actions">
                    <a
                      [routerLink]="[
                        '../../../..',
                        orcamento.idOrcamento,
                        'plano-de-orcamento'
                      ]"
                      [state]="{ projeto: projeto }"
                      class="btn btn-icon"
                    >
                      <i class="icon icon-budget-plan"></i>
                    </a>
                    <a
                      class="btn btn-icon"
                      [routerLink]="[
                        '../../../..',
                        orcamento.idOrcamento,
                        'cotacao'
                      ]"
                    >
                      <i class="icon icon-budget-configuration"></i>
                    </a>
                    <button
                      (click)="openModalOrcamento(orcamento)"
                      class="btn btn-icon"
                      type="button"
                    >
                      <i class="icon icon-edit"></i>
                    </button>
                    <button
                      (click)="deleteOrcamento(i)"
                      class="btn btn-icon"
                      type="button"
                    >
                      <i class="icon icon-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <h6 *ngIf="projeto?.orcamentos?.length === 0" class="empty-message">
            Nenhuma configuração de orçamento cadastrada
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
