lottie-animation-view {
  ::ng-deep {
    > div {
      position: absolute;
      overflow: hidden;
      background-color: #fff;
      height: 4px;
      display: block;
      width: 100%;
      transform: translate3d(0, 0, 0);
      opacity: 1;
      z-index: 1050;
      > canvas {
        top: 0;
        position: absolute;
      }
    }
  }
}
