<div
  class="position-relative popover-wrapper"
  [popover]="funcionarioPopover"
  [placement]="placement"
  [outsideClick]="true"
  container="body"
>
  <i *ngIf="!funcionario?.urlFoto" class="icon icon-user-placeholder"></i>
  <img
    *ngIf="funcionario?.urlFoto as foto"
    class="img-fluid"
    [src]="fotoUrl + foto"
    [alt]="funcionario.nomeFantasiaFuncionario"
  />
</div>

<button
  *ngIf="!funcionario && canChange"
  type="button"
  class="btn btn-icon changeFuncionario"
  (click)="openResponsavelModal.emit()"
>
  <i class="icon icon-plus"></i>
</button>

<ng-template #funcionarioPopover>
  <div class="userInfo">
    <div class="d-flex align-items-center position-relative">
      <div class="media">
        <i *ngIf="!funcionario?.urlFoto" class="icon icon-user-placeholder"></i>
        <img
          class="rounded-circle mr-3"
          [src]="fotoUrl + funcionario.urlFoto"
          [alt]="funcionario.nomeFantasiaFuncionario"
        />
        <div class="media-body">
          <h5 class="tipoResponsavel">Apoio ao grupo</h5>
          <h4 class="nome">{{ funcionario.nomeFantasiaFuncionario }}</h4>
          <hr />
          <p class="m-0 cargo">{{ funcionario.cargo.nomeCargo }}</p>
          <p class="m-0 telefone">
            {{ funcionario?.telefoneCorporativo | formattedTel }}
          </p>
        </div>
      </div>
      <div
        class="actions position-absolute d-flex justify-content-around align-items-center"
        *ngIf="showActionBtn"
      >
        <button
          class="btn btn-icon"
          type="button"
          (click)="popover.hide(); openResponsavelModal.emit()"
        >
          <i class="icon icon-exchange"></i>
        </button>
        <button class="btn btn-icon" type="button" (click)="popover.hide(); delete()">
          <i class="icon icon-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>
