<div class="lista-fornecedores mb-4 pl-3 pr-3">
  <table class="w-100">
    <thead>
    <tr>
      <th>Proposta</th>
      <th>Versão</th>
      <th>Fornecedor</th>
      <th>Ações</th>
      <th>Status</th>
      <th></th>
      <th class="text-center">
        Valor do orçamento <span class="minor">(R$)</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of info" [class.desativado]="item.desativaProposta">
      <td> {{ item.idProposta }} </td>
      <td> v{{ item.versaoProposta }}</td>
      <td
        [innerHTML]="getNameFavorite(item.orcamentoGrupoFornecedor.fornecedor.nomeFantasia, item.orcamentoGrupoFornecedor.favorito)"
      ></td>
      <td>
        <i
          (onShown)="setPopoverInfo(item.orcamentoGrupoFornecedor.idOrcamentoGrupo, item.idProposta)"
          [popover]="popTemplate"
          class="table-icons icon icon-information"
          placement=left
        ></i>
        <i
          (click)="abrirModalEnvioDeCotacao(item.orcamentoGrupoFornecedor.idOrcamento)"
          class="table-icons icon icon-send">
        </i>
        <i (click)="openModalArquivosProposta(item.orcamentoGrupoFornecedor.idOrcamentoGrupo, item.idProposta)"
           class="table-icons icon icon-open-budget">
        </i>
        <i class="table-icons icon icon-upload-document">
        </i>
        <i (click)="openModalHistoricoProposta(item.orcamentoGrupoFornecedor.idOrcamentoGrupo, item.idProposta)"
           class="table-icons icon icon-history">
        </i>
        <i
          (click)="hideProposta(item.orcamentoGrupoFornecedor.idOrcamentoGrupo,
           item.idProposta, item.desativaProposta); item.desativaProposta = !item.desativaProposta"
          class="table-icons icon icon-eye-open">
        </i>
      </td>
      <td>
        <figure
          [class.green]="item.status.toLowerCase() === 'verde'"
          class="status-circle"
        ></figure>
        <figure
          [class.blue]="item.status.toLowerCase() === 'azul'"
          class="status-circle"
        ></figure>
        <figure
          [class.red]="item.status.toLowerCase() === 'vermelho' || item.status.toLowerCase() === 'preto'"
          class="status-circle"
        ></figure>
      </td>
      <td> {{ item.valorParcialProposta | calcularParcial }}</td>
      <td class="text-center valor-proposta">
        {{ item.valorTotalProposta | currency: " "}}
        <span (click)="showValorParcial($event)">{{ item.valorParcialProposta | currency: " "}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #popTemplate>
  <div class="info" *ngIf="!loading.state">
    <h1>Informações da proposta</h1>
    <ul class="m-0 p-0">
      <li class="d-flex justify-content-between">
        Valor total produto:
        <span>{{
          fornecedorInfo.valorTotalProdutoProposta | currency: 'R$ '
          }}</span>
      </li>
      <li class="d-flex justify-content-between">
        Valor total serviço:
        <span>{{
          fornecedorInfo.valorTotalServicoProposta | currency: 'R$ '
          }}</span>
      </li>
      <li class="d-flex justify-content-between">
        Total da proposta:
        <span>{{
          fornecedorInfo.valorTotalProposta | currency: 'R$ '
          }}</span>
      </li>
      <li class="d-flex justify-content-between">
        Previsão entrega:
        <span>{{fornecedorInfo.prazoEntrega | date : "dd/MM/yy HH:mm "}}</span>
      </li>
      <li class="d-flex justify-content-between">
        Prazo de execução:
        <span>{{fornecedorInfo.prazoExecucao | date : "dd/MM/yy HH:mm "}}</span>
      </li>
      <li class="d-flex justify-content-between">
        Data de solicitação da proposta:
        <span>{{fornecedorInfo.dataSolicitacaoProposta | date : "dd/MM/yy HH:mm "}}</span>
      </li>
      <li class="d-flex justify-content-between">
        Data retorno da proposta:
        <span>{{fornecedorInfo.dataRetornoProposta | date : "dd/MM/yy HH:mm "}}</span>
      </li>
    </ul>
    <h1>Dados da Empresa - Homologada no grupo</h1>
    <ul class="p-0 m-0">
      <li class="d-flex justify-content-between">
        Nome Fantasia:<span>{{fornecedorInfo.orcamentoGrupoFornecedor.fornecedor.nomeFantasia }}</span>
      </li>
      <li class="d-flex justify-content-between">
        Razão Social:<span>{{fornecedorInfo.orcamentoGrupoFornecedor.fornecedor.razaoSocial }}</span>
      </li>
      <li class="d-flex justify-content-between">
        Endereço:<span>{{fornecedorInfo.orcamentoGrupoFornecedor.fornecedor.fornecedorEnderecos }}</span>
      </li>
      <li class="d-flex justify-content-between">
        CNPJ:<span>{{fornecedorInfo.orcamentoGrupoFornecedor.fornecedor.cnpj }}</span>
      </li>
      <li class="d-flex justify-content-between">
        IE:<span>{{fornecedorInfo.orcamentoGrupoFornecedor.fornecedor.inscricaoEstadual }}</span>
      </li>
      <li class="d-flex justify-content-between">
        IM:<span>{{fornecedorInfo.orcamentoGrupoFornecedor.fornecedor.inscricaoMunicipal }}</span>
      </li>
    </ul>
    <h1>Contatos</h1>
    <ul class="p-0 m-0">
      <li *ngFor="let item of fornecedorInfo.orcamentoGrupoFornecedor.fornecedor.contatos">
        <ul class="p-0 m-0">
          <li class="d-flex justify-content-between">
            Nome: <span> {{ item.nome }}</span>
          </li>
          <li class="d-flex justify-content-between">
            Email: <span> {{ item.email}}</span>
          </li>
          <li class="d-flex justify-content-between">
            Tel: <span> {{ item.tel}}</span>
          </li>
          <li class="d-flex justify-content-between">
            Tel: <span> {{ item.celular}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</ng-template>

<!-- popover template -->
