@import 'variables';
$lighter-grey: #f2f5f7;
$spacing: 10px;
.lista-fornecedores {
  table {
    width: 100%;
    thead {
      background-color: #e7ecef;
      tr {
        height: 2.85rem;
        th {
          padding-left: 1rem;
          font-weight: normal;
          span {
            &.minor {
              font-size: 0.5rem;
            }
          }
        }
      }
    }
    tbody {
      background-color: white;
      tr {
        border-bottom: solid 1px #9ea1ae;
        height: 2.85rem;
        td {
          padding-left: 1rem;
          figure {
            &.status-circle {
              display: inline-block;
              border: solid 1px #9ea1ae;
              border-radius: 100%;
              height: 15px;
              width: 15px;
              margin: 0 0 0 0.2rem;

              &.green {
                background-color: #00c2f7;
                border: solid 1px #00c2f7;
              }
              &.blue {
                background-color: #00d46c;
                border: solid 1px #00d46c;
              }
              &.red {
                background-color: #fb2525;
                border: solid 1px #fb2525;
              }
            }
          }
          &.valor-proposta {
            position: relative;
            overflow: hidden;
            span {
              position: absolute;
              display: block;
              width: 70%;
              background-color: #6fa2b4;
              left: 90%;
              top: 50%;
              transition: all 150ms 0s ease-out;
              transform: translate(0%, -50%);
              cursor: pointer;
              padding: 10px 0;
              color: #fff;
              font-weight: bold;
              &.active {
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 3px;
                &:after {
                  width: 0;
                  overflow: hidden;
                  border: 0;
                }
              }
              &:after {
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-right: 9px solid #6fa2b4;
                content: ' ';
                position: absolute;
                left: -10px;
                width: 10px;
                top: 0;
                transition: all 150ms 0s ease-out;
              }
            }
          }
        }
      }
    }
  }
}

.info {
  h1 {
    font-size: $small-font-size;
    border-top: 1px solid $lighter-grey;
    border-bottom: 1px solid $lighter-grey;
    margin: $spacing 0;
    padding: 5px 0;
    &:first-child {
      margin-top: 0;
    }
  }
  ul {
    li {
      span {
        text-align: right;
      }
    }
  }
}

.table-icons {
  display: inline-block;
  margin: 0 $spacing/4;
  cursor: pointer;
}

::ng-deep .popover {
  width: 350px;
  max-width: 350px;
}

::ng-deep {
  .desativado {
    color: rgb(192, 192, 192);
  }
}

:host {
  &.hideFornecedores {
    background-color: red;
    .desativado {
      display: none;
    }
  }
}
