<div *ngIf="info; else loading">

  <div class="form-group">
    <label for="contato-athie">Contato A|W</label>
    <select class="form-control" id="contato-athie">
      <option [value]="">Selecione o contato</option>
      <option
        *ngFor="let item of info.funcionarios"
        [value]="item.idFuncionario"
        [selected]="item.selecionado">
        {{ item.nomeFuncionario }} - {{ item.emailFuncionario }}
      </option>
    </select>
  </div>

  <div class="dates d-flex mt-4 mb-4">
    <div class="datas w-50 d-flex">
      <div class="w-50">
        <div class="form-group">
          <label for="">
            <div>Limite de cotação</div>
            <div>horário e data</div>
          </label>
          <input type="text" class="form-control w-75" [value]="info.orcamentoGrupo.dataLimiteCustosOrcamentoGrupo | date : 'dd/MM/yy HH:mm'">
        </div>
      </div>
      <div class="w-50">
        <div class="form-group">
          <label for="">
            <div>Entrega de produtos</div>
            <div>data</div>
          </label>
          <input type="text" class="form-control w-75" [value]="info.orcamentoGrupo.dataLimiteEntregaMercadoria | date : 'dd/MM/yy HH:mm'">
        </div>
      </div>
    </div>
    <div class="prazos w-50">
      <div>Prazo de execução do serviço</div>
      <div class="form-group">
        <div class="w-100 d-flex">
          <label class="w-50" for="inicio">Início</label>
          <label class="w-50" for="fim">Fim</label>
        </div>
        <div class="w-100 d-flex">
          <input type="text" id="inicio" class="form-control w-50 rounded-left" [value]="info.orcamentoGrupo.dataInicioExecucaoServico">
          <input type="text" id="fim" class="form-control w-50 rounded-right" [value]="info.orcamentoGrupo.dataFimExecucaoServico">
        </div>
      </div>
    </div>
  </div>

  <p class="mt-4">
    [ Nome do contato do Cliente ] <br/>
    A Athié|Wohnrath convida a [ nome da empresa ] a participar de uma requisição de concorrência. <br/>
    <b>Condições da proposta</b> <br/>

    <b>Prazo limite para retornar a cotação:</b> {{ info.orcamentoGrupo.dataLimiteCustosOrcamentoGrupo | date : 'dd/MM/yy HH:mm' }} <br/>
    <b>grupo:</b> {{ info.orcamentoGrupo.grupo.codigoGrupo }} - {{ info.orcamentoGrupo.grupo.nomeGrupo }} <br/>
    <b>projeto:</b> {{ info.idProjeto }} <br/>

  </p>

  <div class="form-group mt-2 mb-2">
    <label for="msg-athie">Mensagem</label>
    <ckeditor
      [editor]="Editor"
      data='<textarea class="form-control" id="msg-athie" placeholder="mensagem" rows="7"></textarea>'>
    </ckeditor>
  </div>

  <div class="file-upload mt-2 mb-2">
    <label for="uploadFileInput" class="uploadFileInput">
      <span>anexar arquivos</span> <div *ngIf="filesLength > 0" class="files-length pl-2">{{ filesLength | filesQuantity }}</div>
    </label>
    <input type="file" name="image" id="uploadFileInput" (change)="fileProgress($event)" multiple/>
  </div>

</div>

<ng-template #loading>
  <h1>Carregando...</h1>
</ng-template>
