@import 'variables';
h1 {
  font-size: 14px;
  text-align: center;
}
p {
  color: #787878;
  font-size: $small-font-size;
  line-height: $small-font-size * 2;
}
.w-50 {
  display: inline-block;
}

.datas {
  label {
    div:nth-child(2) {
      font-weight: normal;
    }
  }
}

.prazos {
  input[type='text'] {
    border-radius: 0;
  }
  div:not(.form-group) {
    font-weight: bold;
  }
  div.form-group {
    label {
      font-weight: normal;
    }
  }
}

input[type='file'] {
  display: none;
}
.uploadFileInput {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  display: block;
  background-color: #f7f7f7;
}

.uploadFileInput span {
  display: inline-block;
  background-color: #089acc;
  padding: 6px 12px;
  border-radius: 3px;
  color: #fff;
  text-transform: lowercase;
  font-size: $small-font-size;
  font-weight: 500;
}

.files-length {
  display: inline-block;
}
