<div class="modal-header">
  <h4 class="modal-title">
    adicionar fornecedor ({{ grupo.codigoGrupo }} -
    {{ grupo.nomeGrupo | lowercase }})
  </h4>
  <button
    (click)="close()"
    aria-label="Close"
    class="close btn-icon"
    type="button"
  >
    <i class="icon icon-close"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="filtersForm">
    <div class="form-row mr-0 ml-0">
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="homologadoGrupo"
          formControlName="situacaoFornecedorEnum"
          [value]="situacaoFornecedor.HOMOLOGADO"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="homologadoGrupo"
        >homologado no grupo</label
        >
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="homologadoEAP"
          formControlName="situacaoFornecedorEnum"
          [value]="situacaoFornecedor.OUTROGRUPO"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="homologadoEAP"
        >homologado na EAP</label
        >
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="cadastro"
          formControlName="situacaoFornecedorEnum"
          [value]="situacaoFornecedor.SIMPLESFORNECEDOR"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="cadastro">cadastro</label>
      </div>
    </div>
    <div class="form-row mr-0 ml-0 mt-3">
      <div class="form-group d-flex align-items-center flex-1">
        <label for="busca" class="mr-2">Busca:</label>
        <input
          type="text"
          class="form-control flex-1"
          formControlName="busca"
          id="busca"
          placeholder="Pesquisar outros por nome ou CNPJ"
        />
      </div>
    </div>
  </form>

  <app-draggable-list
    (selectedData)="fornecedoresSelecionados = $event"
    [list]="fornecedores | search: 'nomeFantasia,cnpj' : filtersForm.get('busca').value"
    [customTemplate]="templateFornecedor"
    [selectedList]="fornecedoresSelecionados"
    [emptyMessage]="mensagem"
    allListLabel="Fornecedores"
    fieldValue="idFornecedor"
  >
  </app-draggable-list>
</div>
<div class="modal-footer">
  <button
    (click)="close()"
    class="btn btn-secondary gradient-btn"
    type="button"
  >
    cancelar
  </button>
  <button class="btn btn-primary gradient-btn" type="button"
          (click)="addFornecedores()">confirmar
  </button>
</div>

<ng-template #templateFornecedor let-item="item">
  <div class="d-flex flex-column">
    <h5 class="fornecedor-nome">{{ item?.nomeFantasia | titlecase }}</h5>
    <p class="fornecedor-info">
      CNPJ {{ item?.cnpj | formattedCNPJ }} | {{ filtersForm.get('situacaoFornecedorEnum').value | situacao }}
    </p>
  </div>
</ng-template>
