@import 'variables';

.header-curva {
  font-size: 12px;
  color: #4a4a4a;
  padding: 0.5rem;
  font-weight: bold;
  margin-top: -1.3rem;
  background-color: #f2f5f7;

  .graphic {
    p {
      &.title {
        text-align: right;
        padding: 0;
        margin: 0;
      }
    }

    .info {
      p {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        span {
          display: inline-block;

          &.title {
            min-width: 6rem;
            margin-right: 0.5rem;
            text-align: right;
          }

          &.bars {
            height: 12px;
          }
        }

        &.fornecedor {
          .bars {
            background-color: #4a4a4a;
          }
        }

        &.especialista {
          color: $secondary;

          .bars {
            background-color: $secondary;
            width: 30%;
          }
        }

        &.meta {
          color: $tooltip-color;

          .bars {
            background-color: $tooltip-color;
            width: 20%;
          }
        }
      }
    }
  }
}
