<p class="titulo">Normas e Recomendações</p>
<div class="col-12 p-0">
  <div class="card">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-borderless fixed-header">
          <thead class="thead-gray">
            <tr>
              <th class="w-30" scope="col">Nome do arquivo</th>
              <th class="w-50" scope="col">Data do arquivo</th>
              <th class="w-30" scope="col">Ações</th>
            </tr>
          </thead>
          <tbody class="position-relative" perfectScrollbar>
            <ng-container *ngFor="let arquivo of arquivos$ | async as arquivos">
              <tr>
                <td>
                  {{ arquivo.nomeArquivo }}
                </td>
                <td>
                  {{ arquivo.dataArquivo }}
                </td>
                <td class="buildings">
                  <span class="building">
                    {{ arquivo.src }}
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <h6 class="empty-message" *ngIf="!arquivos$">
          Nenhum arquivo para ser listado
        </h6>
        <h6 class="empty-message" *ngIf="arquivos$ | async as arquivos">
          {{ arquivos.length }}
        </h6>
      </div>
    </div>
  </div>
</div>
