.thead-gray {
  text-align: center;
}
.titulo {
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3c3c;
}
.sub-titulo {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3c3c;
}
@import "variables";
@import "mixins";
.card {
  margin-top: 20px;
  margin-bottom: 20px;
  .card-header {
    background-color: #787878;
    padding: 8px 10px 8px 20px;
    .card-title {
      margin-bottom: 0;
      color: white;
      font-weight: 500;
    }
  }

  .card-body {
    padding-bottom: 14px;
    padding-top: 20px;
  }

  .project-name {
    @include project-name();
  }
}
.toggle-modal {
  width: 313px;
}

.table {
  display: flex;
  flex-flow: column;
  width: 100%;

  thead {
    flex: 0 0 auto;

    th {
      &:last-of-type {
        width: 18%;
      }
    }
  }

  tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;

    .building,
    .fase {
      display: flex;
      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }

    .actions {
      padding-left: 8px;
      padding-top: 14px;
    }
  }

  &.fixed-header {
    tbody {
      position: relative;
      max-height: 50vh;
    }
  }

  tr {
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  tbody {
    td {
      color: #4a4a4a;
      padding-top: 20px;

      &:last-of-type {
        width: 18%;
      }
    }
  }
}

.empty-message {
  font-style: italic;
  color: #b5babd;
  padding: 24px;
}
