@import 'variables';
@import 'mixins';

$spacing: 10px;

.project-header {
  margin-top: 20px;
}
.card {
  margin-top: 20px;
  margin-bottom: 20px;
  .card-header {
    background-color: #787878;
    padding: 8px 10px 8px 20px;
    .card-title {
      margin-bottom: 0;
      color: white;
      font-weight: 500;
    }
  }

  .card-body {
    padding-bottom: 14px;
    padding-top: 20px;
  }

  .project-name {
    @include project-name();
  }
}

.buttons {
  button {
    margin-right: $spacing / 2;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(192, 192, 192, 0.5);
    background-color: #ffffff;
    border: 0;
    overflow: hidden;
    padding: $spacing $spacing * 1.5 $spacing $spacing * 3.5;
    font-size: $font-size-base;
    color: $headings-color;
  }
}

.data-de-entrega {
  h3 {
    background-color: #fff;
    font-size: $font-size-base;
    color: $headings-color;
    padding: 0;
    padding-right: $spacing * 2;
    font-weight: 500;
    box-shadow: 0 0 10px 0 rgba(192, 192, 192, 0.5);
    span {
      font-size: $font-size-base;
      padding: $spacing $spacing * 2;
      background-color: #f2f5f7;
      margin-right: $spacing * 2;
    }
  }
}
