@import 'variables';
$light-grey: #9ea1ae;
$lighter-grey: #f2f5f7;
$dark-grey: $headings-color;
$spacing: 10px;
.info {
  h1 {
    font-size: $small-font-size;
    border-top: 1px solid $lighter-grey;
    border-bottom: 1px solid $lighter-grey;
    margin: $spacing 0;
    padding: 5px 0;
    &:first-child {
      margin-top: 0;
    }
  }
  ul {
    li {
      span {
        text-align: right;
      }
    }
  }
}

.responsaveis {
  padding: 0 $spacing * 2.2 $spacing * 1.6;
  padding-left: 0;
  width: 70%;
  ol {
    margin: 0 0 $spacing * 1.4 0;
    list-style: none;
    li {
      width: 26px;
      height: 26px;
      text-align: center;
      overflow: hidden;
      margin-right: $spacing / 2;
      border: 1px solid #fff;
      box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      &:nth-child(2n + 2) {
        width: 20px;
        height: 20px;
      }
      &:nth-child(2n + 3) {
        margin-left: $spacing / 1.8;
      }
      img {
        width: 100%;
      }
    }
  }
  .comments {
    margin-bottom: $spacing;
    font-size: $font-size-base;
    textarea {
      min-height: 55px;
    }
  }
  .form-checkout {
    margin-left: $spacing * 1.4;
    label {
      font-size: $small-font-size;
      color: #3c3c3c;
      cursor: pointer;
      user-select: none;
    }
  }
}

.acoes {
  margin-left: 3.8%;
  ul {
    list-style: none;
    li {
      margin: 0 $spacing/2;
      &:first-child {
        margin-left: 0;
      }
      i {
        width: 20px;
        height: 20px;
        text-align: center;
        display: block;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
  }
}

.userinfo {
  min-width: 450px;
  font-size: $small-font-size;
  img {
    margin-right: $spacing;
  }
  p {
    span {
      display: block;
      color: #019bcf;
      margin-top: $spacing;
    }
  }
}

:host .popover {
  max-width: 400px;
}

app-funcionario-popover {
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2);
  &:nth-child(2n + 2) {
    width: 25px;
    height: 25px;
    margin-right: $spacing;
  }
}
