<div class="grupo-info d-flex justify-content-start p-3">
  <div class="responsaveis">
    <div class="pb-4 d-flex justify-content-start align-items-center">

      <ng-container *ngFor="let i of [1,2,3,4,5,6]">
        <app-funcionario-popover *ngIf="info.responsaveis[i-1]"
          [funcionario]="info.responsaveis[i-1].funcionario"
        ></app-funcionario-popover>
        <app-funcionario-popover *ngIf="i > 1"
          [funcionario]="{}"
        ></app-funcionario-popover>
      </ng-container>


    </div>
    <div class="comentario">
      <label for="comentario" class="comments">Comentários</label>
      <div class="d-flex">
        <textarea
          class="form-control mw-70"
          name="comentario"
          id="comentario"
          placeholder="Comentários sobre o grupo"
        ></textarea>
        <div class="form-checkout w-25">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck1"
            />
            <label class="custom-control-label" for="customCheck1"
              >Incluir comentário na proposta</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="acoes d-flex flex-column justify-content-start">
    <p>Acções do grupo</p>
    <ul class="d-flex justify-content-start pl-0 ml-0">
      <li (click)="openModalEnvioDeCotacao(2, info.idGrupo)" class="pr-1">
        <i class="actions-icon icon icon-send">
        </i>
      </li>
      <li class="pr-1">
        <i class="actions-icon icon icon-resend">
        </i>
      </li>
      <li class="pr-1">
        <i class="actions-icon icon icon-add-provider">
        </i>
      </li>
      <li class="pr-1">
        <i class="actions-icon icon icon-attach">
        </i>
      </li>
      <li (click)="clickToggleFornecedores()">
        <i class="actions-icon icon icon-eye-open">
        </i>
      </li>
    </ul>
  </div>
</div>
