@import 'variables';

$spacing: 10px;
$border-color: #9ea1ae;

.content {
  padding: $spacing * 2;
}

ul {
  max-height: 394px;
  position: relative;
  margin: 0 -15px;
  padding: 0 15px;

  ::ng-deep {
    .ps__rail-y {
      right: 10px !important;
    }
  }
  li {
    padding: $spacing 0;
    border-top: 1px solid $border-color;
    transition: background-color 300ms ease-in-out;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: #f2f5f7;
    }

    .img {
      width: $spacing * 6.5;
      height: $spacing * 6.5;
      border-radius: 50%;
      overflow: hidden;
      background: #f8f8f8;

      img {
        width: 100%;
      }
    }

    p {
      margin-left: $spacing * 1.5;
      font-size: $font-size-base;
      margin-bottom: 0;

      small {
        display: block;
        font-size: $font-size-base;
      }
    }

    &:last-child {
      border-bottom: 1px solid $border-color;
    }
  }
}

.form-check-label {
  font-weight: 300;
  font-size: 12px;
}

.custom-checkbox-small {
  position: relative;
  display: block;
  border: 1px solid #333;
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.form-check-input:checked + .custom-checkbox-small:after {
  content: 'X';
  position: absolute;
  font-size: 10px;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-control-label {
  font-size: 12px;
  line-height: 1.9;
}

.label-checkbox {
  .fake-checkbox {
    position: relative;
    display: block;
    border: solid 1px #3b3e41;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    transition: 300ms;

    & + .font-weight-light {
      font-size: 12px;
    }
  }

  input + .fake-checkbox:before {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms;
    opacity: 1;
    color: #fff;
    font-size: 6px;
  }

  input:checked + .fake-checkbox {
    background: #3c3c3c;
  }
}
::ng-deep {
  .modal.fade {
    transition: none;
  }
}
