<div class="modal-header">
  <h4 class="modal-title">adicionar assistente</h4>
  <button
    aria-label="Close"
    class="close btn-icon"
    type="button"
    (click)="close()"
  >
    <i class="icon icon-close"></i>
  </button>
</div>
<div class="modal-body">
  <form class="form-inline">
    <label for="busca" class="sr-only">Busca</label>
    <input
      id="busca"
      type="text"
      name="busca"
      [(ngModel)]="busca"
      (ngModelChange)="showAll && onSearchChanged.next($event)"
      class="form-control flex-1"
      placeholder="Pesquisar por nome"/>
  </form>

  <div class="form-group form-check mt-3 mb-4 pl-0">
    <div class="custom-control custom-checkbox d-flex align-items-center">
      <input
        type="checkbox"
        class="custom-control-input"
        id="showAll"
        name="showAll"
        [(ngModel)]="showAll"
        (ngModelChange)="busca = null; !$event && getResponsaveis()"
      />
      <label class="custom-control-label" for="showAll">Buscar em todos</label>
    </div>
  </div>

  <ul class="list-unstyled" perfectScrollbar>
    <ng-container *ngIf="!showAll">
      <li
        (click)="select(responsavel)"
        class="d-flex align-items-center list-item"
        *ngFor="
          let responsavel of responsaveis | search: 'nomeFantasiaFuncionario':busca">
        <div *ngIf="responsavel.urlFoto as foto" class="img">
          <img
            [alt]="responsavel?.nomeFantasiaFuncionario"
            [src]="fotoUrl + foto"/>
        </div>
        <p>
          <b>nome: </b>{{ responsavel?.nomeFantasiaFuncionario }}
          <small> <b>cargo: </b>{{ responsavel?.cargo?.nomeCargo }}</small>
        </p>
      </li>
    </ng-container>
    <ng-container *ngIf="showAll">
      <li
        *ngFor="let responsavel of responsaveis"
        class="d-flex align-items-center"
        (click)="select(responsavel)">
        <div *ngIf="responsavel.urlFoto as foto" class="img">
          <img
            [alt]="responsavel?.nomeFantasiaFuncionario"
            [src]="fotoUrl + foto"/>
        </div>
        <p>
          <b>nome: </b>{{ responsavel?.nomeFantasiaFuncionario }}
          <small> <b>cargo: </b>{{ responsavel?.cargo?.nomeCargo }}</small>
        </p>
      </li>
    </ng-container>
  </ul>
</div>
