<ol class="breadcrumb mb-0 bg-transparent p-0">
  <li
    *ngFor="let breadcrumb of breadcrumbs; let last = last"
    class="breadcrumb-item"
    [ngClass]="{ active: last }"
    [attr.aria-current.page]="last"
  >
    <a *ngIf="!last" [routerLink]="hasParams(breadcrumb)">
      {{ breadcrumb.label }}
    </a>
    <ng-container *ngIf="last">{{ breadcrumb.label }}</ng-container>
  </li>
</ol>
