<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <i class="icon icon-logo"></i>
  </a>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-circle" type="button">
          <i class="icon icon-toggle-theme"></i>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-circle" type="button">
          <span class="icon icon-bell">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
          </span>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-icon" type="button">
          <i class="icon icon-search"></i>
        </button>
      </li>
      <li class="nav-item v-divider"></li>
      <li class="nav-item">
        <div
          (isOpenChange)="isOpenChange()"
          (onHidden)="onHidden()"
          (onShown)="onShown()"
          container="body"
          dropdown
        >
          <div class="toggle-user-menu" dropdownToggle>
            <div class="dropdown-header">
              <p class="user-name mb-0">
                Ivo Wohnrath
              </p>
              <hr />
              <div class="user-position">
                Ceo
                <i class="icon icon-caret-down ml-auto"> </i>
              </div>
            </div>
            <img
              alt="User avatar"
              class="img-fluid rounded-circle user-img"
              src="/assets/img/ivo.jpg"
            />
          </div>
          <ul
            *dropdownMenu
            aria-labelledby="basic-link"
            class="dropdown-menu dropdown-menu-left user-dropdown-menu"
            id="basic-link-dropdown"
            role="menu"
          >
            <li><a class="dropdown-item" href="#">Sair</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
