<app-collapse>
  <app-collapse-group [(isOpen)]="collapse">
    <div (click)="collapse = !collapse" [class.expanded]="collapse" class="heading" collapse-heading>
      <h6 class="group-info">
        <span class="code">
          {{grupo.codigoGrupo}}
        </span>
        <span class="divider">-</span>
        <span class="name">
          {{grupo.nomeGrupo}}
        </span>
      </h6>

      <form (click)="$event.stopPropagation()" (ngSubmit)="submitComplementGroupForm()"
            [formGroup]="formComplementGroup"
            class="editable-form position-relative">
        <button #isActive="templateVar"
                (click)="isActive.templateVar = !isActive.templateVar"
                [class.hidden]="isActive.templateVar"
                [templateVar]="false" class="btn btn-link btn-primary"
                type="button"> {{formComplementGroup.get('complementoGrupo')?.value || 'complemento do grupo'}}
        </button>
        <div [class.active]="isActive.templateVar" class="form-group position-absolute">
          <label class="sr-only" for="complementGroup">Complemento do grupo</label>
          <input (keydown.escape)="isActive.templateVar = !isActive.templateVar" autocomplete="off"
                 class="form-control form-control-sm"
                 formControlName="complementoGrupo"
                 id="complementGroup"
                 placeholder="da sala do presidente"
                 type="text">
        </div>
      </form>

      <p>
        <i *ngIf="!grupo.escopoEntregue" [class.text-danger]="checkDate(grupo.dataLimiteDefinicao)"
           class="icon mr-1 icon-timer"></i>
        <i *ngIf="grupo.escopoEntregue" class="icon mr-1 icon-check"></i>
        {{grupo.dataLimiteDefinicao | date: 'dd/MM/yyyy'}} - {{grupo.dataLimiteDefinicao | date: 'HH:mm'}}
      <p>
        <i *ngIf="!grupo.custoEntregue" [class.text-danger]="checkDate(grupo.dataLimiteRecebimento)"
           class="icon mr-1 icon-timer"></i>
        <i *ngIf="grupo.custoEntregue" class="icon mr-1 icon-check"></i>
        {{grupo.dataLimiteRecebimento | date: 'dd/MM/yyyy'}} - {{grupo.dataLimiteRecebimento | date: 'HH:mm'}}
      </p>
      <p>{{grupo.valorMetaGrupo | currency: ' '}}</p>

      <i [class.icon-caret-down]="!collapse" [class.icon-caret-up]="collapse" class="icon"></i>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="responsaveis">
          <app-funcionario-popover
            [canChange]="false"
            [funcionario]="grupo?.responsaveis | selectEmployee: true"
            placement="auto"></app-funcionario-popover>
          <app-funcionario-popover
            [canChange]="false"
            [funcionario]="grupo?.responsaveis | selectEmployee"
            placement="auto"></app-funcionario-popover>

          <app-funcionario-popover
            [canChange]="false"
            [funcionario]="grupo?.especialistas | selectEmployee: true"
            placement="auto"></app-funcionario-popover>
          <app-funcionario-popover
            [canChange]="false"
            [funcionario]="grupo?.especialistas | selectEmployee"
            placement="auto"></app-funcionario-popover>

          <app-funcionario-popover
            [canChange]="false"
            [funcionario]="grupo?.arquitetura | selectEmployee: true"
            placement="auto"></app-funcionario-popover>
          <app-funcionario-popover
            [canChange]="false"
            [funcionario]="grupo?.arquitetura | selectEmployee"
            placement="auto"></app-funcionario-popover>
        </div>
        <form [formGroup]="formComments">
          <div class="row mt-1">
            <div class="col-9">
              <div class="form-group">
                <label for="comments">Comentários</label>
                <textarea
                  (keydown.enter)="submit($event)"
                  appAutoSize
                  class="form-control"
                  formControlName="comentarioGrupo"
                  id="comments"
                  placeholder="escrever comentário"></textarea>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label class="empty-label">&nbsp;</label>
                <div class="custom-control custom-checkbox">
                  <input
                    class="custom-control-input"
                    formControlName="exibeComentarioPropostaGrupo"
                    id="showComments"
                    type="checkbox"/>
                  <label class="custom-control-label" for="showComments">
                    incluir comentário na proposta
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-4">
        <div class="actions">
          <p>Ações do grupo</p>
          <button class="btn btn-icon" type="button"><i class="icon icon-action"></i></button>
          <button class="btn btn-icon" type="button"><i class="icon icon-send"></i></button>
          <button class="btn btn-icon" type="button"><i class="icon icon-resend"></i></button>
          <button class="btn btn-icon" type="button"><i class="icon icon-add-provider"></i></button>
          <button class="btn btn-icon" type="button"><i class="icon icon-attach"></i></button>
          <button (click)="toggleFornecedoresStatus = !toggleFornecedoresStatus" class="btn btn-icon" type="button">
            <i class="icon icon-eye-open"></i></button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">proposta</th>
          <th scope="col">versão</th>
          <th scope="col">fornecedor</th>
          <th scope="col">ações</th>
          <th scope="col">status</th>
          <th scope="col"></th>
          <th scope="col">valor do orçamento (R$)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let proposta of propostas"
            [class.especialista]="getFornecedor(proposta.idFornecedor)?.nomeFantasia?.toLowerCase()?.includes('especialista')">
          <td>{{proposta.idProposta}}</td>
          <td>v{{proposta.versaoProposta}}</td>
          <td class="favorite">
            <ng-container *ngIf="getFornecedor(proposta.idFornecedor) as fornecedor">
              <i *ngIf="fornecedor.favorito"
                 class="icon icon-star-full"></i> {{fornecedor?.nomeFantasia | lowercase}}
            </ng-container>
          </td>
          <td class="text-right td-actions">
            <ng-container *ngIf="getFornecedor(proposta.idFornecedor) as fornecedor">
              <ng-container
                *ngIf="!fornecedor
              .nomeFantasia?.toLowerCase()?.includes('especialista') && !fornecedor
              .nomeFantasia?.toLowerCase()?.includes('estimado')">
                <button class="btn btn-icon" type="button"><i class="icon icon-information"></i></button>
                <button class="btn btn-icon" type="button"><i class="icon icon-send"></i></button>
              </ng-container>
            </ng-container>
            <button class="btn btn-icon" type="button"><i class="icon icon-open-budget"></i></button>
            <button class="btn btn-icon" type="button"><i class="icon icon-upload-document"></i></button>
            <button class="btn btn-icon" type="button"><i class="icon icon-history"></i></button>
            <button class="btn btn-icon" type="button">
              <i class="icon icon-eye-open"></i>
            </button>
          </td>
          <td>
            <div [class.green]="(proposta.status | lowercase) === (statusProposta.Verde | lowercase)"
                 class="rounded-circle"></div>
            <div [class.blue]="(proposta.status | lowercase) === (statusProposta.Azul | lowercase)"
                 class="rounded-circle"></div>
            <div [class.red]="(proposta.status | lowercase) === (statusProposta.Vermelho | lowercase)
                || (proposta.status | lowercase) === (statusProposta.Preto | lowercase)"
                 class="rounded-circle">
            </div>
          </td>
          <td>
            <ng-container *ngIf="getFornecedor(proposta.idFornecedor) as fornecedor">
              <ng-container
                *ngIf="!fornecedor
              .nomeFantasia?.toLowerCase()?.includes('especialista') && !fornecedor
              .nomeFantasia?.toLowerCase()?.includes('estimado')">
                {{proposta | statusBudgetValue}}
              </ng-container>
            </ng-container>
          </td>
          <td class="text-center value-indicator">
            <ng-container *ngIf="getFornecedor(proposta.idFornecedor) as fornecedor">
              <div *ngIf="!fornecedor
              .nomeFantasia?.toLowerCase()?.includes('especialista') && !fornecedor
              .nomeFantasia?.toLowerCase()?.includes('estimado')"
                   class="d-flex align-items-center justify-content-center">
                <ng-container *ngIf="(proposta | statusBudgetValue) === statusPropostaValorOrcamento.Total">
                  <div class="rectangle">{{proposta.valorTotalProposta | currency: ' '}}</div>
                  <div class="triangle"></div>
                </ng-container>
                <ng-container *ngIf="(proposta | statusBudgetValue) === statusPropostaValorOrcamento.Parcial">
                  <div #tempVar="templateVar" (click)="tempVar.templateVar = !tempVar.templateVar"
                       [class.active]="!tempVar.templateVar"
                       [templateVar]="false"
                       class="rectangle">
                    {{(tempVar.templateVar ? proposta.valorTotalProposta : proposta.valorParcialProposta) | currency: ' '}}
                  </div>
                  <div *ngIf="tempVar.templateVar" class="triangle"></div>
                </ng-container>
              </div>
              <ng-container *ngIf="fornecedor
              .nomeFantasia?.toLowerCase()?.includes('especialista') || fornecedor
              .nomeFantasia?.toLowerCase()?.includes('estimado')">
                {{proposta.valorTotalProposta | currency: ' '}}
              </ng-container>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-collapse-group>
</app-collapse>
