@import 'variables';

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  background-color: #e7ecef;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  cursor: pointer;

  &:not(.expanded) {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  p {
    display: inline-flex;
    align-items: center;
    color: $headings-color;

    .icon-timer {
      color: #b5babd;
    }

    .icon-check {
      color: $green-alt;
      font-size: 10px;
    }
  }

  p,
  .group-info {
    margin-bottom: 0;
  }

  .group-info {
    display: flex;
    align-items: center;

    .code {
      min-width: 54px;
      display: inline-block;
      font-size: 12px;
    }

    .divider {
      margin-right: 10px;
    }

    .name {
      text-transform: lowercase;
    }
  }

  .btn-link {
    padding: 0;
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    font-weight: normal !important;
  }

  [class^='-icon-caret-'],
  [class*='icon-caret-'] {
    font-size: 4.6px;
    color: #048dbc;
    margin-top: 8px;
  }
}

.actions {
  margin-top: 6px;
  margin-left: 10%;

  p {
    margin-bottom: 6px;
    font-size: $h6-font-size;
    color: $headings-color;
  }

  .btn-icon {
    padding: 0;
    margin-right: 15px;
  }
}

label {
  font-weight: normal;

  &.empty-label {
    margin-bottom: 2px;
  }
}

:host ::ng-deep {
  .collapse-body {
    background-color: #e7ecef;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 0 15px 15px;
  }

  app-funcionario-popover {
    .icon-user-placeholder {
      font-size: 24px;
    }
  }
}

app-funcionario-popover {
  box-shadow: 0 1px 2px 0 rgba(136, 136, 136, 0.7);
  border: solid 1.5px white;

  &:nth-child(1),
  &:nth-child(3),
  &:nth-child(5) {
    width: 32px;
    height: 32px;
  }

  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6) {
    width: 26px;
    height: 26px;
  }

  &:nth-child(2),
  &:nth-child(4) {
    margin-right: 15px;
  }
}

.table {
  thead {
    background-color: transparent;

    tr {
      th {
        border: 0;
        color: $headings-color;
        font-weight: normal;
        font-size: 14px;
        padding: 7px 20px 7px;

        &:last-child {
          text-transform: none;
        }
      }
    }
  }

  tbody {
    tr {
      &:first-child {
        td {
          border-top: 0;

          &:first-child {
            border-top-left-radius: $border-radius;
          }

          &:last-child {
            border-top-right-radius: $border-radius;
          }
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: $border-radius;
          }

          &:last-child {
            border-bottom-right-radius: $border-radius;
          }
        }
      }

      &.especialista {
        background-color: var(--ice-blue);
      }

      td {
        border-top: 1px solid var(--bluey-grey);

        .btn-icon {
          padding: 2px 8px;
        }

        &.favorite {
          position: relative;

          .icon-star-full {
            position: absolute;
            left: -8px;
            top: 10px;
            font-size: 16px;
          }
        }

        &.td-actions {
          width: 21%;
          padding-left: 0;
        }
      }

      background-color: white;
      color: $headings-color;
    }
  }
}

.rounded-circle {
  width: 15px;
  height: 15px;
  display: inline-flex;

  &:not(.red):not(.green):not(.blue):not(app-funcionario-popover) {
    border: solid 1px #979797;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }

  &.green {
    background-color: var(--shamrock-green);
  }

  &.red {
    background-color: var(--orangey-red);
  }

  &.blue {
    background-color: $blue-alt;
  }
}

.triangle {
  clip-path: polygon(68% 0%, 100% 0%, 100% 100%, 68% 100%, 30% 50%);
  width: 16px;
  background-color: #6fa2b4;
  transition: all 0.5s ease-in-out;
}

.value-indicator {
  .rectangle {
    display: inline-flex;
    align-items: center;
    padding: 0 6px;
    justify-content: center;
    border-radius: $border-radius;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;

    &.active {
      background-color: #6fa2b4;
      color: white;
      font-weight: bold;
    }
  }

  .rectangle,
  .triangle {
    height: 27px;
  }
}

.editable-form {
  max-width: 146px;
  width: 146px;

  .form-group {
    top: -6px;
    left: -35%;
    width: 100%;
    overflow: hidden;
    transition: all 300ms ease-in;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 0;

    &.active {
      left: 0;
      opacity: 1;
      visibility: unset;
    }
  }

  .btn-link {
    width: 100%;
    word-wrap: break-word;

    &.hidden {
      display: none;
    }
  }
}
