<div>

  <div class="custom-control custom-checkbox mb-2">
    <input type="checkbox" class="custom-control-input" id="selectAll" (change)="selectAll()">
    <label class="custom-control-label" for="selectAll">
      selecionar todos
    </label>
  </div>

  <div class="lista-de-fornecedores p-2 mb-2" *ngFor="let item of lista?.fornecedores">
    <div class="custom-control custom-checkbox" >

      <input type="checkbox" class="custom-control-input" [id]="'customCheck_'+item.idFornecedor" [checked]="item.checkedStatus" (change)="changeItemStatus(item)">
      <label class="custom-control-label" [for]="'customCheck_'+item.idFornecedor">
        <i class="icon icon-star-full" *ngIf="item.favorito"></i> {{ item.nomeFantasia }}
      </label>
    </div>
    <div [class.hide]="!item.checkedStatus">
    <div class="d-flex pt-1 contato-info">
      <div class="pr-1 w-50">
        <select class="custom-select">
          <option
            *ngFor="let contato of item.contatos"
            [value]="contato?.contato">
            {{ contato?.contato }} - {{ contato?.nome }}
          </option>
        </select>
      </div>
      <div class="pl-1 w-50">
        <input type="text" class="form-control" placeholder="mensagem para o fornecedor">
      </div>
    </div>
  </div>


  </div>

  <div class="lista-de-fornecedores p-2 mb-2" *ngFor="let item of lista?.fornecedoresHomologados">
    <div class="custom-control custom-checkbox" >

      <input type="checkbox" class="custom-control-input" [id]="'customCheck_'+item.idFornecedor" [checked]="item.checkedStatus" (change)="changeItemStatus(item)">
      <label class="custom-control-label" [for]="'customCheck_'+item.idFornecedor">
        <i class="icon icon-star-full" *ngIf="item.favorito"></i> {{ item.nomeFantasia }} - {{ item.situacao }}
      </label>
    </div>
    <div [class.hide]="!item.checkedStatus">
      <div class="d-flex pt-1">
        <div class="pr-1 w-50">
          <select class="custom-select">
            <option
              *ngFor="let contato of item.contatos"
              [value]="contato?.contato">
              {{ contato?.contato }} - {{ contato?.nome }}
            </option>
          </select>
        </div>
        <div class="pl-1 w-50">
          <input type="text" class="form-control" placeholder="mensagem para o fornecedor">
        </div>
      </div>
    </div>

  </div>

</div>
