@import 'variables';
:host {
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.group-header {
  display: flex;
  align-items: center;
  padding: 12.5px 20px;
  border-radius: $border-radius;
  cursor: pointer;
  .group-id {
    min-width: 60px;
    display: inline-block;
  }
  .divider {
    margin-right: 10px;
  }
  .group-name {
    text-transform: lowercase;
  }
  .title {
    margin-bottom: 0;
  }
  .cotacao-icon {
    .cotacao-title {
      display: none;
    }
  }
  [class^='-icon-caret-'],
  [class*='icon-caret-'] {
    font-size: 4.6px;
    color: $primary;
    margin-left: 15px;
  }

  &.has-selected-groups {
    border: solid 2px #9ea1ae;

    + {
      .collapse-body {
        border-top: 0;
        margin-top: -2px;
        border-right: solid 2px #9ea1ae;
        border-left: solid 2px #9ea1ae;
        border-bottom: solid 2px #9ea1ae;
      }
    }
  }

  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
  }
  &.cotacao {
    margin: $spacing * 2 $spacing * 2 0 $spacing * 2;
    background-color: $secondary;
    padding: 8px $spacing * 2;
    .title {
      color: white;
      font-size: 1.12rem;
      .group-name {
        text-transform: capitalize;
      }
    }
    .cotacao-icon {
      .cotacao-title {
        display: block;
        span {
          color: white;
          font-size: 1rem;
          font-weight: 500;
          &.valor-meta {
            .minor {
              font-size: 0.5rem;
            }
          }
        }
      }
    }
    .icon-caret-down,
    .icon-caret-up {
      color: white;
    }
  }
}

.group-header,
.collapse-body {
  background-color: #e7ecef;
}

.collapse-body {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.group-body {
  padding: 20px;
  &.cotacao {
    background-color: #fff;
  }
}

app-grupo {
  .cotacao {
    background-color: #e7ecef;
  }
}
