<div
  [ngClass]="additionalClass"
  class="group-header justify-content-between"
  (click)="isCollapsed = !isCollapsed"
  [class.expanded]="!isCollapsed"
  [attr.aria-expanded]="!isCollapsed"
  [class.has-selected-groups]="grupos | hasSelectedGroups"
  role="button"
  [attr.aria-controls]="grupao.numeroGrupao"
>
  <h6 class="title">
    <span class="group-id">{{ grupao.numeroGrupao }}</span>
    <span class="divider">-</span>
    <span class="group-name">{{ grupao.descricaoGrupao }}</span>
  </h6>
  <div class="cotacao-icon d-flex align-items-center">
    <div class="cotacao-title">
      <span class="data-limite-escopo pr-3">Data limite escopo</span>
      <span class="data-limite-custos pr-3">Data limite custos</span>
      <span class="valor-meta"
        >Valor da meta <span class="minor">R$</span></span
      >
    </div>
    <i
      class="icon"
      [class.icon-caret-up]="!isCollapsed"
      [class.icon-caret-down]="isCollapsed"
    ></i>
  </div>
</div>
<div
  class="collapse-body"
  [id]="grupao.numeroGrupao"
  [collapse]="isCollapsed"
  [isAnimated]="true"
>
  <div class="group-body" [ngClass]="additionalClass">
    <app-grupo
      [ngClass]="addCustomClass()"
      *ngFor="let grupo of grupos; trackBy: trackByFn;"
      [grupo]="grupo"
      [id]="grupao.numeroGrupao +
        grupo.idGrupo +
        grupo.idGrupao +
        grupao.idFamilia +
        grupao.idOrcamentoFamilia"
      (selection)="onSelection()"
      [selectionMode]="selectionMode"
      [additionalClass]="additionalClass"
    ></app-grupo>
  </div>
</div>
