<div class="pre-header mt-20">
  <a class="btn btn-light" routerLink="../../../../curva-abc">
    <i class="icon icon-curva-abc"></i> curva ABC
  </a>
  <a class="btn btn-light">
    <i class="icon icon-files-list"></i> lista de arquivos
  </a>
  <a class="btn btn-light">
    <i class="icon icon-spreadsheet"></i> planilha de venda
  </a>

  <app-box-info *ngIf="orcamento?.dataRecebimentoTodosCustos as dataRecebimentoTodosCustos"
                [@fadeInOut]
                [boxWidth]="300"
                [valor]="dataRecebimentoTodosCustos | date: 'dd/MM/yyyy'"
                class="ml-auto"
                label="data limite da proposta"></app-box-info>
</div>
<app-orcamento-header [orcamento]="orcamento" [projeto]="orcamento?.projeto" [showBar]="true"></app-orcamento-header>
<form [formGroup]="formSearch">
  <div class="row justify-content-end">
    <div class="col-4">
      <div class="form-group">
        <label class="sr-only" for="allGroups">Todos os grupos</label>
        <ng-select
          [clearable]="false"
          [closeOnSelect]="false"
          [items]="listaGrupos"
          placeholder="Todos os grupos"
          [multiple]="true"
          [selectableGroupAsModel]="false"
          [selectableGroup]="true"
          bindLabel="nomeGrupo"
          formControlName="grupos"
          id="allGroups">
          <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>
            <div class="custom-control custom-checkbox d-flex align-items-center">
              <input
                [ngModelOptions]="{standalone: true}"
                [ngModel]="item$.selected"
                class="custom-control-input"
                type="checkbox"
              />
              <label class="custom-control-label">{{item.codigoGrupo + ' - ' + item.nomeGrupo | lowercase}}</label>
            </div>
          </ng-template>
          <ng-template ng-footer-tmp>
            <button (click)="clearFilters(fieldsEnum.Grupos)" class="btn btn-light" type="button">limpar
            </button>
            <button (click)="applyFilters()" class="btn btn-light" type="button">aplicar</button>
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="col-4">
      <label class="sr-only" for="providers">Todos os fornecedores</label>
      <ng-select
        [clearable]="false"
        [closeOnSelect]="false"
        [items]="listaFornecedores"
        [multiple]="true"
        [selectableGroupAsModel]="false"
        [selectableGroup]="true"
        bindLabel="nomeFantasia"
        formControlName="fornecedores"
        id="providers"
        placeholder="todos os fornecedores">
        <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>
          <div class="custom-control custom-checkbox d-flex align-items-center">
            <input
              [id]="item.idFornecedor + item.cnpj + '-' + index"
              [ngModelOptions]="{standalone: true}"
              [ngModel]="item$.selected"
              class="custom-control-input"
              type="checkbox"
            />
            <label [for]="item.idFornecedor + item.cnpj + '-' + index"
                   class="custom-control-label">{{item.nomeFantasia | lowercase}}</label>
          </div>
        </ng-template>
        <ng-template ng-footer-tmp>
          <button (click)="clearFilters(fieldsEnum.Fornecedores)" class="btn btn-light" type="button">limpar
          </button>
          <button class="btn btn-light" type="button">aplicar</button>
        </ng-template>
      </ng-select>
    </div>
  </div>
</form>
<app-collapse *ngFor="let familia of familias$ | async; let i = index" class="card mb-20">
  <app-collapse-group [(isOpen)]="collapses['isOpen_' + i]">
    <div (click)="collapses['isOpen_' + i] = !collapses['isOpen_' + i]" [class.expanded]="collapses['isOpen_' + i]"
         class="card-header"
         collapse-heading>
      <h4 class="family-info">
        {{ familia.nomeOrcamentoFamilia | lowercase }}
      </h4>
      <i [class.icon-caret-down]="!collapses['isOpen_' + i]"
         [class.icon-caret-up]="collapses['isOpen_' + i]"
         class="icon"></i>
    </div>
    <div class="card-body">
      <app-collapse [closeOthers]="true">
        <app-collapse-group
          *ngFor="let grupao of familia.grupoes; let i = index"
          [(isOpen)]="collapses['isOpen_grupao' + grupao.idGrupao]">
          <div (click)="collapses['isOpen_grupao' + grupao.idGrupao] = !collapses['isOpen_grupao' + grupao.idGrupao]"
               class="heading"
               collapse-heading>
            <h4 class="grupao-info">
                <span class="number">
                    {{grupao.numeroGrupao}}
                </span>
              <span class="divider">-</span>
              <span class="description">{{grupao.descricaoGrupao | lowercase}}</span>
            </h4>
            <div class="col-5 d-flex justify-content-between align-items-center">
              <p>data limite escopo</p>
              <p>data limite custos</p>
              <p>valor da Meta <small>(R$)</small></p>
              <i [class.icon-caret-down]="!collapses['isOpen_grupao' + grupao.idGrupao]"
                 [class.icon-caret-up]="collapses['isOpen_grupao' + grupao.idGrupao]"
                 class="icon">
              </i>
            </div>
          </div>
          <app-propostas *ngFor="let item of grupao.orcamentoGrupos" [grupo]="item"
                         [orcamento]="orcamento"></app-propostas>
        </app-collapse-group>
      </app-collapse>
    </div>
  </app-collapse-group>
</app-collapse>
