@import 'variables';

.pre-header {
  display: flex;
  align-items: center;

  .btn-light {
    font-weight: normal !important;
    color: $headings-color;
    background-color: white;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    padding: 0.375rem 0.75rem;
    box-shadow: 0 0 10px 0 rgba(192, 192, 192, 0.5);
    border-color: white;

    .icon {
      margin-right: 5px;
    }
  }
}

:host ::ng-deep {
  app-orcamento-header {
    .project-header {
      margin-top: 15px;
    }

    .card {
      margin-top: 0;
    }
  }

  app-box-info {
    .value {
      padding: 0 15px;
      flex: none;
    }
  }

  .ng-select {
    &.ng-select-filtered {
      .ng-placeholder {
        display: none;
      }
    }
  }

  .ng-select {
    .custom-control-label {
      font-weight: normal;
    }

    &.ng-select-multiple {
      .ng-select-container {
        .ng-placeholder {
          top: 8px;
          padding-bottom: 0;
        }
      }
    }

    .ng-placeholder {
      &:before {
        margin-right: 8px;
        content: '\e908';
        font-family: 'icomoon', sans-serif;
      }
    }

    .ng-select-container {
      &:not(.ng-has-value) {
        .ng-placeholder {
          display: flex;
          align-items: center;
        }
      }
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
      &.ng-option-marked,
      & {
        background-color: white;
        border-color: white;
      }
    }

    .ng-dropdown-footer {
      padding: 0;
      border-top: solid 1px var(--ice-blue);
      display: flex;

      .btn-light {
        background-color: white;
        flex: 1;
        border-color: white;
        font-size: 12px;
        color: var(--cerulean-two);

        &:first-child {
          border-right-color: var(--ice-blue);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
}

.card-header,
.heading {
  background-color: var(--brownish-grey);
  display: flex;
  align-items: center;
  padding: 0.563rem 1.25rem;

  .family-info,
  .grupao-info,
  p,
  [class^='icon-caret-'],
  [class*='icon-caret-'] {
    color: white;
  }

  cursor: pointer;

  .family-info,
  .grupao-info,
  p {
    margin-bottom: 0;
  }

  [class^='icon-caret-'],
  [class*='icon-caret-'] {
    font-size: 4.6px;
  }
}

.card-header {
  justify-content: space-between;

  &:not(.expanded) {
    border-bottom-left-radius: $border-radius - 1;
    border-bottom-right-radius: $border-radius - 1;
  }
}

.heading {
  justify-content: space-between;

  .grupao-info {
    display: flex;
    align-items: center;

    .number {
      min-width: 54px;
      display: inline-block;
    }

    .divider {
      margin-right: 33px;
    }

    .description {
      text-transform: lowercase;
    }
  }

  border-radius: $border-radius;

  p {
    font-weight: 500;

    small {
      font-size: 7px;
    }
  }
}
