<form [formGroup]="familiaForm" (ngSubmit)="addFamilia()">
  <div class="modal-header">
    <h4 class="modal-title">criar novo grupo família</h4>
    <button
      (click)="close()"
      aria-label="Close"
      class="close btn-icon"
      type="button"
    >
      <i class="icon icon-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <label for="nomeFamilia" class="col-form-label mr-sm-4">nome</label>
    <input
      type="text"
      class="form-control mr-sm-4 flex-1"
      formControlName="nomeFamiliaCustomizada"
      id="nomeFamilia"
      placeholder="Defina o nome da nova família"
    />
  </div>
  <div class="modal-footer">
    <button
      (click)="close()"
      class="btn btn-secondary gradient-btn"
      type="button"
    >
      cancelar
    </button>
    <app-submit-button
      [form]="familiaForm"
      btnText="confirmar"
      btnClass="btn btn-primary gradient-btn"
    ></app-submit-button>
  </div>
</form>
