@import 'mixins';

.project-name {
  @include project-name();
  margin-bottom: 20px;
}

.modal-body {
  padding-top: 12px;
  max-height: 588px;
  overflow-y: auto;

  .no-fases {
    font-size: 12px;
    color: #b5babd;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: normal;
  }

  table.table td,
  table.table th {
    padding: 6px 20px 7px 4px;
  }

  table.table {
    thead {
      th {
        padding-top: 0;
        border-bottom: 1px solid #9ea1ae;
      }
    }
  }

  .fases {
    td {
      max-width: 215px;
    }
  }
}

.modal-footer {
  .btn,
  ::ng-deep .btn {
    min-width: 200px;
  }

  .btn {
    &:first-of-type {
      margin-right: 30px;
    }
  }
}

::ng-deep {
  .modal.fade {
    transition: none;
  }
}
