<form (ngSubmit)="salvarOrcamento()" [formGroup]="budgetForm">
  <div class="modal-header">
    <h4 class="modal-title">Configuração de orçamento</h4>
    <button
      (click)="bsModalRef.hide()"
      aria-label="Close"
      class="close btn-icon"
      type="button"
    >
      <i class="icon icon-close"></i>
    </button>
  </div>
  <div class="modal-body" perfectScrollbar>
    <h6 *ngIf="projeto" class="project-name">
      <strong class="text-success">{{ projeto?.numeroProjeto }}</strong>
      {{ projeto?.nomeProjeto }}
    </h6>
    <div
      [class.has-danger]="budgetNameField.invalid && budgetNameField.touched"
      [class.has-success]="budgetNameField.valid && budgetNameField.dirty"
      class="form-group has-label"
    >
      <label for="name">Nome:</label>
      <input
        class="form-control"
        formControlName="nomeOrcamento"
        id="name"
        type="text"
      />
      <label
        *ngIf="budgetNameField.invalid && budgetNameField.touched"
        class="error"
      >
        Campo obrigatório.
      </label>
    </div>
    <label>Edifícios:</label>
    <app-draggable-list
      (selectedData)="saveBuildings($event)"
      [list]="buildings | async"
      [selectedList]="budgetForm.get('edificios').value"
      fieldValue="idEdificio"
      fieldLabel="nomeEdificio"
    ></app-draggable-list>
    <div class="table-responsive">
      <label>Fases:</label>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Fase</th>
            <th class="w-25">Data início</th>
            <th class="w-25">Data fim</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody formArrayName="fases">
          <ng-container *ngFor="let control of fasesControls; let i = index">
            <tr [formGroup]="control" class="fases">
              <td
                [class.has-danger]="
                  control.get('nomeFase').invalid &&
                  control.get('nomeFase').touched
                "
                [class.has-success]="
                  control.get('nomeFase').valid && control.get('nomeFase').dirty
                "
                class="form-group"
              >
                <label [for]="'faseName_' + i" class="sr-only"></label>
                <input
                  [id]="'faseName_' + i"
                  class="form-control"
                  formControlName="nomeFase"
                  placeholder="Fase única"
                  type="text"
                />
                <label
                  *ngIf="
                    control.get('nomeFase').invalid &&
                    control.get('nomeFase').touched
                  "
                  class="error"
                  >Campo obrigatório.</label
                >
              </td>
              <td>
                <div
                  [class.has-danger]="
                    control.get('dataInicioFase').invalid &&
                    control.get('dataInicioFase').touched
                  "
                  class="input-group"
                >
                  <input
                    [bsConfig]="bsConfig"
                    [id]="'startDate_' + i"
                    appDateFormat
                    autocomplete="off"
                    bsDatepicker
                    class="form-control"
                    formControlName="dataInicioFase"
                    maxlength="11"
                    placeholder="___ /___ /______"
                    placement="top"
                    type="text"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="icon icon-calendar"></i>
                    </div>
                  </div>
                  <label
                    *ngIf="
                      control.get('dataInicioFase').hasError('required') &&
                      control.get('dataInicioFase').touched
                    "
                    class="error"
                    >Campo obrigatório.</label
                  >
                  <label
                    *ngIf="
                      control.get('dataInicioFase').hasError('invalidDate') &&
                      !control.get('dataInicioFase').hasError('required')
                    "
                    class="error"
                  >
                    Data inválida. Informe uma data válida.
                  </label>
                </div>
              </td>
              <td>
                <div
                  [class.has-danger]="
                    control.get('dataFimFase').invalid &&
                    control.get('dataFimFase').touched
                  "
                  class="input-group"
                >
                  <input
                    [bsConfig]="bsConfig"
                    [id]="'endDate_' + i"
                    [minDate]="control.get('dataInicioFase').value"
                    appDateFormat
                    autocomplete="off"
                    bsDatepicker
                    class="form-control"
                    formControlName="dataFimFase"
                    maxlength="11"
                    placeholder="___ /___ /______"
                    placement="top"
                    type="text"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="icon icon-calendar"></i>
                    </div>
                  </div>
                  <label
                    *ngIf="
                      control.get('dataFimFase').hasError('required') &&
                      control.get('dataFimFase').touched
                    "
                    class="error"
                    >Campo obrigatório.</label
                  >
                  <label
                    *ngIf="
                      control.get('dataFimFase').hasError('invalidDate') &&
                      !control.get('dataFimFase').hasError('required')
                    "
                    class="error"
                  >
                    Data inválida. Informe uma data válida.
                  </label>
                  <label
                    *ngIf="
                      control.get('dataFimFase').hasError('minDate') &&
                      !control.get('dataFimFase').hasError('required')
                    "
                    class="error"
                  >
                    A data fim deve ser maior que a data início.
                  </label>
                </div>
              </td>
              <td>
                <button
                  (click)="removeFase(i)"
                  class="btn-icon btn"
                  type="button"
                >
                  <i class="icon icon-trash-alt"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h6 *ngIf="!fasesControls?.length" class="no-fases">
        Nenhuma fase cadastrada
      </h6>
      <button (click)="addFase()" class="btn btn-circle btn-plus" type="button">
        <i class="icon icon-plus"></i>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="bsModalRef.hide()"
      class="btn btn-secondary gradient-btn"
      type="button"
    >
      Cancelar
    </button>
    <app-submit-button
      [form]="budgetForm"
      [tooltipText]="tooltipText"
      btnClass="btn btn-primary gradient-btn"
      btnText="Confirmar"
    ></app-submit-button>
  </div>
</form>
