:host {
  height: 100%;
  position: relative;
  padding-right: 0;
}
.total-margin {
  font-size: 1.125rem;
  font-weight: 500;
  color: #9ea1ae;
}

.step-custom-label {
  font-size: 1.125rem;
  font-weight: 500;
  color: #3c3c3c;
}

.form-group {
  margin-bottom: 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 0;
}
