<div class="row">
  <div class="col-12">
    <h2>estratégia de valores</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12 col-lg-6 mt-4 mb-4">
    <div class="form-group">
      <label for="valorPlanejado"
        >valor planejado para venda final ao cliente</label
      >
      <input
        id="valorPlanejado"
        (ngModelChange)="onKey()"
        appCurrency
        [(ngModel)]="valorPlanejadoVenda"
        class="form-control"
        placeholder="ex: 4.800.000,00"
        type="text"
      />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12 col-lg-4 mb-1">
    <div class="form-group">
      <label
        >margem contribuição:
        {{ (projeto$ | async)?.percentualMargemContribuicao }}%</label
      >
      <br />
      <span class="total-margin" [@fadeInOut] *ngIf="custoMargem as margem">{{
        margem | currency: ' '
      }}</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12 col-lg-3">
    <div class="form-group">
      <label>custo meta</label><br />
      <span
        class="step-custom-label"
        [@fadeInOut]
        *ngIf="(orcamento$ | async)?.valorCustoMeta as meta"
      >{{ meta | currency: ' ' }}</span
      >
    </div>
  </div>
</div>

<!--<div class="col-md-6 col-sm-12 col-lg-4 mb-4">-->
<!--  <label class="step-custom-label">turnos</label>-->
<!--</div>-->

<!--<div class="col-md-6 col-sm-12 col-lg-3 mb-4">-->
<!--  <span>considerar trabalho: <strong>norturno</strong></span>-->
<!--</div>-->

<div class="d-flex justify-content-end col-12 footer">
  <a
    routerLink="../fornecedores"
    class="btn gradient-btn btn-secondary btn-custom"
  >
    voltar
  </a>
  <button
    type="button"
    class="btn gradient-btn btn-success btn-custom ml-4"
    (click)="save()"
  >
    salvar
  </button>
  <button
    (click)="save(true)"
    class="btn gradient-btn btn-primary btn-custom ml-4"
  >
    próximo
  </button>
</div>
