<div class="modal-header">
    <h4 class="modal-title">Histórico de propostas</h4>
    <button
      (click)="bsModalRef.hide()"
      aria-label="Close"
      class="close btn-icon"
      type="button"
    >
      <i class="icon icon-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="group-details">
      <p><strong>{{ listHistory?.codigoGrupo }} - {{ listHistory?.nomeGrupo }}</strong></p>
      <p><strong>{{ listHistory?.nomeFantasua }}</strong></p>
      <p><strong>Proposta:</strong> {{ listHistory?.idProposta }}</p>
    </div>

    <div class="proposals">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Versão</th>
            <th>Data e hora</th>
            <th>Valor do orçamento <span>(R$)</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listHistory?.historico">
            <td>v{{ item.versaoProposta }}</td>
            <td>{{ item.dataRetornoProposta }}</td>
            <td>{{ item.valorTotalProposta | currency: "R$ "}}</td>
            <td><i class="icon icon-cloud-download"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary gradient-btn" type="button">
      Cancelar
    </button>
    <button class="btn btn-primary gradient-btn" type="button">
      Confirmar
    </button>
  </div>
