table.table td,
table.table th {
  padding: 14px 0 14px 14px;
  &:first-child,
  &:nth-child(2) {
    text-align: center;
  }
  &:nth-child(3) {
    text-align: right;
  }
}

table.table {
  thead {
    th {
      padding-top: 0;
      border-bottom: 1px solid #9ea1ae;
    }
  }
  tbody {
    td {
      border-bottom: 1px solid #9ea1ae;
    }
  }
}