<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button
    (click)="bsModalRef.hide()"
    aria-label="Close"
    class="close btn-icon"
    type="button"
  >
    <i class="icon icon-close"></i>
  </button>
</div>
<div class="modal-body">
  <h4>{{ bodyContent }}</h4>
</div>
<div class="modal-footer">
  <button
    (click)="bsModalRef.hide()"
    class="btn btn-secondary gradient-btn"
    type="button"
  >
    {{ closeBtnName }}
  </button>
  <button
    (click)="confirmAction()"
    class="btn btn-primary gradient-btn"
    type="button"
  >
    {{ confirmBtnName }}
  </button>
</div>
