<div class="row">
  <div class="col-12">
    <div class="card" *ngIf="projeto$ | async as projeto">
      <div class="card-header">
        <h3 class="card-title">
          {{ orcamento?.nomeOrcamento }}
        </h3>
      </div>
      <div class="card-sub-header bg-light-grey">
        <div class="project-name-goal d-flex justify-content-between">
          <div class="col-md-6">
            <h6 class="project-name">
              <strong class="text-success">{{ projeto.numeroProjeto }}</strong>
              {{ projeto.nomeProjeto }}
            </h6>
            <p>
              <strong>edifícios:</strong>
              <ng-container
                *ngFor="let edificio of orcamento.edificios; last as last"
              >
                {{ edificio.nomeEdificio }}{{ !last ? ', ' : '' }}
              </ng-container>
            </p>
            <div class="d-flex">
              <p>
                <strong>área:</strong> {{ projeto.metragemAbsoluta | number }} <sup>m2</sup>
              </p>
              <p class="ml-5"><strong>segmentação:</strong> 3.0d</p>
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column align-items-end">
            <app-box-info
              *ngIf="orcamento.valorCustoMeta as valor"
              [@fadeInOut] [valor]="orcamento.valorCustoMeta | currency: ' '"
              label="valor meta"
            ></app-box-info>
            <ng-container *ngIf="(soma$ | async) as soma">
              <app-box-info
                *ngIf="isVisible && soma"
                label="soma dos grupos"
                class="mt-3"
                [@fadeInOut]
                [classList]="soma <= orcamento.valorCustoMeta ? 'success' : 'danger'"
                [valor]="soma$ | async | currency: ' '">
              </app-box-info>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-tabs-steps></app-tabs-steps>
      </div>
    </div>
  </div>
</div>
