<div
  *ngIf="familia?.grupoes | selectionGroupCounter as counter"
  class="family-group-header"
  (click)="counter > -1 && toggleCollapse()"
  [attr.aria-expanded]="!isCollapsed"
  [ngClass]="additionalClass"
>
  <h5 class="title">
    {{ familia?.descricaoFamilia | lowercase }}
    <span *ngIf="hasSelectedGroupsInfo" class="selected-groups-counter"
      >({{ counter > -1 ? counter : 0 }}
      {{ counter === 1 ? 'grupo selecionado' : 'grupos selecionados' }})
    </span>
  </h5>
  <i
    class="icon"
    *ngIf="counter > -1"
    [class.icon-caret-up]="!isCollapsed"
    [class.icon-caret-down]="isCollapsed"
  ></i>
  <div class="actions" *ngIf="familia.idFamiliaCustomizada">
    <button
      class="btn btn-icon"
      type="button"
      (click)="$event.stopPropagation(); editarFamiliaCustomizada()"
    >
      <i class="icon icon-edit"></i>
    </button>
    <button
      class="btn btn-icon"
      type="button"
      (click)="$event.stopPropagation(); apagarFamiliaCustomizada()"
    >
      <i class="icon icon-trash-alt"></i>
    </button>
  </div>
  <button
    *ngIf="hasButton"
    class="btn btn-default gradient-btn"
    [class.ml-auto]="familia.idFamilia"
    type="button"
    (click)="$event.stopPropagation(); abrirModalSelecionarGrupos()"
  >
    selecionar grupos
  </button>
</div>
<div
  class="collapse-body"
  [collapse]="isCollapsed"
  [isAnimated]="true"
  [ngClass]="additionalClass"
>
  <div class="family-group-body">
    <app-grupao
      *ngFor="let grupao of familia?.grupoes; trackBy: trackByFn"
      [selectionMode]="false"
      [grupao]="grupao"
      [additionalClass]="additionalClass"
    ></app-grupao>
  </div>
</div>
