<ng-container *ngIf="projeto$ | async as projeto">
  <app-orcamento-header [orcamento]="orcamento" [projeto]="projeto" [showBar]="false"></app-orcamento-header>
  <app-header-curva [consistencyInfo]="consistencyInfo" [grupos]="grupos$ | async"
                    [totalEstimatedValue]="totalEstimatedValue" [totalGoalValue]="totalGoalValue">
  </app-header-curva>
  <table [dataSource]="dataSource | async" [trackBy]="trackById" cdk-table class="table curva-abc-table"
         multiTemplateDataRows>
    <ng-container cdkColumnDef="codigoGrupo">
      <th #headerCellElement *cdkHeaderCellDef cdk-header-cell class="col-2" id="codigoGrupo">
        Nome <br>
        <div class="asc-and-desc-filter-wrapper">
          <button (click)="adjustSort('codigoGrupo', directionEnum.DESC)"
                  [class.active]="sortKey$.value === 'codigoGrupo' && sortDirection$.value === directionEnum.DESC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-up"></i>
          </button>
          <button (click)="adjustSort('codigoGrupo', directionEnum.ASC)"
                  [class.active]="sortKey$.value === 'codigoGrupo' && sortDirection$.value === directionEnum.ASC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-down"></i>
          </button>
        </div>
      </th>
      <td *cdkCellDef="let element" cdk-cell>
        {{ element.codigoGrupo + ' - ' + element.nomeGrupo }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="descricaoFamilia">
      <th #headerCellElement *cdkHeaderCellDef cdk-header-cell id="descricaoFamilia">
        Família <br>
        <div class="asc-and-desc-filter-wrapper d-inline-flex mr-2">
          <button (click)="adjustSort('descricaoFamilia', directionEnum.DESC)"
                  [class.active]="sortKey$.value === 'descricaoFamilia' && sortDirection$.value === directionEnum.DESC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-up"></i>
          </button>
          <button (click)="adjustSort('descricaoFamilia', directionEnum.ASC)"
                  [class.active]="sortKey$.value === 'descricaoFamilia' && sortDirection$.value === directionEnum.ASC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-down"></i>
          </button>
        </div>
      </th>
      <td *cdkCellDef="let element" [class.bold]="!!element.multiplos" cdk-cell class="familia">
        {{ element.multiplos?.length ? 'múltiplos' : element.descricaoFamilia | lowercase }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="escopoEntregue">
      <th #headerCellElement *cdkHeaderCellDef cdk-header-cell id="escopoEntregue">
        Data limite escopo <br>
        <button [outsideClick]="true" [popoverContext]="popoverFiltersContext" [popover]="popoverTemplateEscopoEntregue"
                containerClass="popover-filters"
                class="btn btn-icon p-0"
                container="body" placement="bottom" type="button">
          <i class="icon-filter"></i>
        </button>
      </th>
      <td *cdkCellDef="let element" cdk-cell>
        <ng-container *ngIf="!element.multiplos">
          <i *ngIf="element.escopoEntregue" class="icon icon-check"></i>
          <ng-container *ngIf="!element.escopoEntregue && element.dataLimiteDefinicao">
            <i [class.text-danger]="checkDates(element.dataLimiteDefinicao)" class="icon icon-timer"></i>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="custoEntregue">
      <th #headerCellElement *cdkHeaderCellDef cdk-header-cell id="custoEntregue">
        Data limite custos <br>
        <button [outsideClick]="true" [popoverContext]="popoverFiltersContext" [popover]="popoverTemplateCustoEntregue"
                class="btn btn-icon p-0"
                container="body" placement="bottom" type="button">
          <i class="icon-filter"></i>
        </button>
      </th>
      <td *cdkCellDef="let element" cdk-cell>
        <ng-container *ngIf="!element.multiplos">
          <i *ngIf="element.custoEntregue" class="icon icon-check"></i>
          <ng-container *ngIf="!element.custoEntregue">
            <i [class.text-danger]="checkDates(element.dataLimiteRecebimento)" class="icon icon-timer"></i>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="valorMetaGrupo">
      <th #headerCellElement *cdkHeaderCellDef cdk-header-cell id="valorMetaGrupo">
        Valor da meta <br>
        <div class="asc-and-desc-filter-wrapper">
          <button (click)="adjustSort('valorMetaGrupo', directionEnum.DESC)"
                  [class.active]="sortKey$.value === 'valorMetaGrupo' && sortDirection$.value === directionEnum.DESC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-up"></i>
          </button>
          <button (click)="adjustSort('valorMetaGrupo', directionEnum.ASC)"
                  [class.active]="sortKey$.value === 'valorMetaGrupo' && sortDirection$.value === directionEnum.ASC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-down"></i>
          </button>
        </div>
      </th>
      <td *cdkCellDef="let element" cdk-cell class="bold value">
        <ng-container *ngIf="!element.multiplos">
          {{ element.valorMetaGrupo | currency: ' ' }}
        </ng-container>
        <ng-container *ngIf="element.multiplos as multiplos">
          {{ sumGoal(multiplos, 'valorMetaGrupo') | currency: ' ' }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="valorSelecionado">
      <th #headerCellElement *cdkHeaderCellDef cdk-header-cell id="valorSelecionado">
        Valor selecionado <br>
        <div class="asc-and-desc-filter-wrapper">
          <button (click)="adjustSort('valorSelecionado', directionEnum.DESC)"
                  [class.active]="sortKey$.value === 'valorSelecionado' && sortDirection$.value === directionEnum.DESC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-up"></i>
          </button>
          <button (click)="adjustSort('valorSelecionado', directionEnum.ASC)"
                  [class.active]="sortKey$.value === 'valorSelecionado' && sortDirection$.value === directionEnum.ASC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-down"></i>
          </button>
        </div>
      </th>
      <td *cdkCellDef="let element" cdk-cell class="selecionado value">
        <ng-container *ngIf="!element.multiplos">
          {{ element.valorSelecionado | currency: ' ' }}
        </ng-container>
        <ng-container *ngIf="element.multiplos as multiplos">
          {{ sumGoal(multiplos, 'valorSelecionado') | currency: ' ' }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="diff">
      <th #headerCellElement *cdkHeaderCellDef cdk-header-cell id="diff">
        Diferença <br>
        <div class="asc-and-desc-filter-wrapper">
          <button (click)="adjustSort('diff', directionEnum.DESC)"
                  [class.active]="sortKey$.value === 'diff' && sortDirection$.value === directionEnum.DESC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-up"></i>
          </button>
          <button (click)="adjustSort('diff', directionEnum.ASC)"
                  [class.active]="sortKey$.value === 'diff' && sortDirection$.value === directionEnum.ASC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-down"></i>
          </button>
        </div>
      </th>
      <td
        *cdkCellDef="let element"
        class="diff"
        cdk-cell>
          <span
            *ngIf="element.diff as diff; else elseTemplate"
            [class.negative]="diff > 0"
            [class.positive]="diff < 0">
          {{diff | percent : '1.1'}}
        </span>
        <ng-template #elseTemplate>
          0,0%
        </ng-template>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="nomeFantasia">
      <th #headerCellElement *cdkHeaderCellDef cdk-header-cell id="nomeFantasia">
        Fornecedor <br>
        <div class="asc-and-desc-filter-wrapper d-inline-flex mr-2">
          <button class="btn btn-icon" type="button">
            <i class="icon icon-caret-up"></i>
          </button>
          <button class="btn btn-icon" type="button">
            <i class="icon icon-caret-down"></i>
          </button>
        </div>
      </th>
      <td
        *cdkCellDef="let element"
        [ngClass]="element.regraFornecedor | normalizeString"
        cdk-cell>
        <ng-container *ngIf="!element.multiplos">
          {{ element.regraFornecedor }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="estimatedValue">
      <th #headerCellElement *cdkHeaderCellDef cdk-header-cell id="estimatedValue">
        Valor considerado <br>
        <div class="asc-and-desc-filter-wrapper">
          <button (click)="adjustSort('valorConsiderado', directionEnum.DESC)"
                  [class.active]="sortKey$.value === 'valorConsiderado' && sortDirection$.value === directionEnum.DESC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-up"></i>
          </button>
          <button (click)="adjustSort('valorConsiderado', directionEnum.ASC)"
                  [class.active]="sortKey$.value === 'valorConsiderado' && sortDirection$.value === directionEnum.ASC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-down"></i>
          </button>
        </div>
      </th>
      <td
        *cdkCellDef="let element"
        cdk-cell
        [ngClass]="{ bold: element.multiplos || !!element.valorSelecionado,
         italic: !element.multiplos && element.valorMetaGrupo && !element.valorSelecionado  }"
        class="value">
        {{ element.valorConsiderado  | currency: ' ' }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="totalValue">
      <th #headerCellElement *cdkHeaderCellDef cdk-header-cell id="totalValue">
        % do total <br>
        <div class="asc-and-desc-filter-wrapper">
          <button (click)="adjustSort('total', directionEnum.DESC)"
                  [class.active]="sortKey$.value === 'total' && sortDirection$.value === directionEnum.DESC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-up"></i>
          </button>
          <button (click)="adjustSort('total', directionEnum.ASC)"
                  [class.active]="sortKey$.value === 'total' && sortDirection$.value === directionEnum.ASC"
                  class="btn btn-icon"
                  type="button">
            <i class="icon icon-caret-down"></i>
          </button>
        </div>
      </th>
      <td *cdkCellDef="let element" cdk-cell>
        {{ element.total | percent: '1.1' }}
      </td>
    </ng-container>
    <ng-container cdkColumnDef="collapse">
      <th *cdkHeaderCellDef cdk-header-cell>
      </th>
      <td *cdkCellDef="let element" cdk-cell>
        <button
          (click)="expandedGroupElement = null; expandedElement = expandedElement === element ? null : element; $event.stopPropagation()"
          *ngIf="!element.multiplos && element.propostas?.length"
          class="btn btn-icon expand-details"
          type="button">
          <i [class.icon-caret-down]="expandedElement !== element" [class.icon-caret-up]="expandedElement === element"
             class="icon"></i>
        </button>
      </td>
    </ng-container>

    <!--Expansão controle de cotacão-->

    <ng-container cdkColumnDef="expandedDetail">
      <td *cdkCellDef="let element" [attr.colspan]="headerTable.length"
          [class.expanded]="expandedElement === element && !expandedGroupElement ||
           !expandedElement && expandedGroupElement === element"
          cdk-cell
          class="detail-td">
        <div [class.light-blue-grey]="expandedElement === element"
             [smoothHeight]="expandedElement === element && !expandedGroupElement ||
          !expandedElement && expandedGroupElement === element" class="element-detail">
          <ng-container *ngIf="expandedElement === element">
            <app-proposta [grupo]="element"></app-proposta>
          </ng-container>
          <table *ngIf="expandedGroupElement === element" [dataSource]="element.multiplos" [trackBy]="trackById"
                 cdk-table
                 class="table sub-table"
                 multiTemplateDataRows>
            <ng-container cdkColumnDef="codigoGrupo">
              <td *cdkCellDef="let element" [style.width.px]="tableHeaderElementsWidthMap?.codigoGrupo" cdk-cell>
                {{ element.codigoGrupo + ' - ' + element.nomeGrupo }}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="descricaoFamilia">
              <td *cdkCellDef="let element" [style.width.px]="tableHeaderElementsWidthMap?.descricaoFamilia"
                  cdk-cell
                  class="familia bold">
                {{ element.descricaoFamilia | lowercase }}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="escopoEntregue">
              <td *cdkCellDef="let element" [style.width.px]="tableHeaderElementsWidthMap?.escopoEntregue"
                  cdk-cell>
                <i *ngIf="element.escopoEntregue" class="icon icon-check"></i>
                <ng-container *ngIf="!element.escopoEntregue">
                  <i [class.text-danger]="checkDates(element.dataLimiteDefinicao)" class="icon icon-timer"></i>
                </ng-container>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="custoEntregue">
              <td *cdkCellDef="let element" [style.width.px]="tableHeaderElementsWidthMap?.custoEntregue"
                  cdk-cell>
                <i *ngIf="element.custoEntregue" class="icon icon-check"></i>
                <ng-container *ngIf="!element.custoEntregue">
                  <i [class.text-danger]="checkDates(element.dataLimiteRecebimento)" class="icon icon-timer"></i>
                </ng-container>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="valorMetaGrupo">
              <td *cdkCellDef="let element" [style.width.px]="tableHeaderElementsWidthMap?.valorMetaGrupo"
                  cdk-cell
                  class="bold value">
                {{ (element.valorMetaGrupo || 0) | currency: ' ' }}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="valorSelecionado">
              <td *cdkCellDef="let element" [style.width.px]="tableHeaderElementsWidthMap?.valorSelecionado"
                  cdk-cell
                  class="selecionado value">
                {{ element.valorSelecionado | currency: ' ' }}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="diff">
              <td
                *cdkCellDef="let element"
                [style.width.px]="tableHeaderElementsWidthMap?.diff"
                cdk-cell class="diff">
                  <span
                    *ngIf="diffValueFn(element.valorMetaGrupo, element.valorSelecionado) as diff; else elseTemplate"
                    [class.negative]="diff > 0"
                    [class.positive]="diff < 0">
                    {{diff | percent: '1.1'}}
                  </span>
                <ng-template #elseTemplate>
                  0,0%
                </ng-template>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="nomeFantasia">
              <td
                *cdkCellDef="let element"
                [ngClass]="element | supplierRule | normalizeString"
                [style.width.px]="tableHeaderElementsWidthMap?.nomeFantasia" cdk-cell>
                {{ element | supplierRule  }}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="estimatedValue">
              <td
                *cdkCellDef="let element"
                [class.bold]="!!element.valorSelecionado"
                [class.italic]="element.valorMetaGrupo && !element.valorSelecionado"
                [style.width.px]="tableHeaderElementsWidthMap?.estimatedValue"
                cdk-cell
                class="value">
                {{ (element.valorSelecionado || element.valorMetaGrupo)  | currency: ' ' }}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="totalValue">
              <td *cdkCellDef="let element" [style.width.px]="tableHeaderElementsWidthMap?.totalValue" cdk-cell>
                {{ (element.valorSelecionado || element.valorMetaGrupo) | customPercent: totalEstimatedValue: '1.1' }}
              </td>
            </ng-container>
            <ng-container cdkColumnDef="collapse">
              <td *cdkCellDef="let element" cdk-cell>
                <button
                  (click)="expandedDetailGrupoElement = expandedDetailGrupoElement === element ? null : element;"
                  *ngIf="element.propostas?.length"
                  class="btn btn-icon expand-details"
                  type="button">
                  <i [class.icon-caret-down]="expandedDetailGrupoElement !== element"
                     [class.icon-caret-up]="expandedDetailGrupoElement === element"
                     class="icon"></i>
                </button>
              </td>
            </ng-container>
            <ng-container cdkColumnDef="expandedDetailGrupo">
              <td *cdkCellDef="let element" [attr.colspan]="headerTable.length"
                  [class.expanded]="expandedDetailGrupoElement === element"
                  cdk-cell
                  class="detail-td">
                <div [class.light-blue-grey]="expandedDetailGrupoElement === element"
                     [smoothHeight]="expandedDetailGrupoElement === element"
                     class="element-detail">
                  <ng-container *ngIf="expandedDetailGrupoElement === element">
                    Aqui vai o componente de Cotação<br/>
                    Aqui vai o componente de Cotação<br/>
                    Aqui vai o componente de Cotação<br/>
                    Aqui vai o componente de Cotação<br/>
                  </ng-container>
                </div>
              </td>
            </ng-container>
            <tr
              *cdkRowDef="let element; columns: headerTable"
              [class.expanded-row]="expandedDetailGrupoElement === element"
              cdk-row
              class="element-row"></tr>
            <tr
              *cdkRowDef="let i; columns: ['expandedDetailGrupo']"
              cdk-row
              class="detail-row"></tr>
          </table>
        </div>
      </td>
    </ng-container>

    <tr *cdkHeaderRowDef="headerTable" cdk-header-row></tr>
    <tr
      *cdkRowDef="let element; columns: headerTable"
      (click)="expandedElement = null; element.multiplos && expandElements(element)"
      [class.clickable]="!!element.multiplos"
      [class.expanded-row]="expandedElement === element || expandedGroupElement === element"
      cdk-row
      class="element-row"></tr>
    <tr
      *cdkRowDef="let i; columns: ['expandedDetail']"
      cdk-row
      class="detail-row"></tr>
  </table>

  <div class="table-results">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2">
        <p class="title">total valor meta</p>
      </div>
      <div class="col-1">
        <p class="value">{{ totalGoalValue | currency: ' ' }}</p>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <p class="title">total valor considerado</p>
      </div>
      <div class="col-1">
        <p class="value">{{ totalEstimatedValue | currency: ' ' }}</p>
      </div>

      <div class="col-1">
        <p class="title minor text-center">100%</p>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #popoverTemplateEscopoEntregue let-filters="filters">
  <ul class="list-unstyled mb-0 popover-wrapper">
    <li *ngFor="let item of filters.escopoEntregue | keyvalue" class="list-item">
      <div class="custom-control d-flex align-items-center custom-checkbox">
        <input (change)="applyFilters('escopoEntregue')" [(ngModel)]="filters.escopoEntregue[item.key]" [id]="item.key"
               class="custom-control-input"
               type="checkbox">
        <label [for]="item.key" class="custom-control-label d-flex align-items-center">
          <i [class.icon-check]="item.key === 'recebido'"
             [class.icon-timer]="item.key === 'emDia' || item.key === 'atrasado'"
             [class.text-danger]="item.key === 'atrasado'"
             class="icon"></i> {{ item.key === 'emDia' ? 'Em dia' : item.key | titlecase }}
        </label>
      </div>
    </li>
  </ul>
</ng-template>
<ng-template #popoverTemplateCustoEntregue let-filters="filters">
  <ul class="list-unstyled mb-0 popover-wrapper">
    <li *ngFor="let item of filters.custoEntregue | keyvalue" class="list-item">
      <div class="custom-control d-flex align-items-center custom-checkbox">
        <input (change)="applyFilters('custoEntregue')" [(ngModel)]="filters.custoEntregue[item.key]"
               [id]="'custoEntregue_' + item.key"
               class="custom-control-input"
               type="checkbox">
        <label [for]="'custoEntregue_' + item.key" class="custom-control-label d-flex align-items-center">
          <i [class.icon-check]="item.key === 'recebido'"
             [class.icon-timer]="item.key === 'emDia' || item.key === 'atrasado'"
             [class.text-danger]="item.key === 'atrasado'"
             class="icon"></i> {{ item.key === 'emDia' ? 'Em dia' : item.key | titlecase }}
        </label>
      </div>
    </li>
  </ul>
</ng-template>
