@import 'variables';

.tab-container {
  display: flex;
  justify-content: stretch;
  min-height: 100%;

  .nav-item {
    &.disabled {
      .tab-indicator {
        background-color: #e9ecef;
      }
    }
  }
}
