<div *ngIf="orcamentoService.orcamento$ | async as orcamento"
     class="tab-container">
  <ul class="nav nav-stacked flex-column nav-pills">
    <li class="nav-item" routerLinkActive="active">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="./"
        class="nav-link">
        <span class="tab-indicator">1</span>
        <span class="title">Datas</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLinkActive="active" routerLink="grupos" class="nav-link">
        <span class="tab-indicator">2</span>
        <span class="title">Grupos</span>
      </a>
    </li>
    <li
      class="nav-item"
      routerLinkActive="active"
      [class.disabled]="!orcamento?.grupoes?.length">
      <a routerLinkActive="active" routerLink="responsaveis" class="nav-link">
        <span class="tab-indicator">3</span>
        <span class="title">Responsáveis e datas</span>
      </a>
    </li>
    <li
      class="nav-item"
      routerLinkActive="active"
      [class.disabled]="!orcamento?.grupoes?.length">
      <a routerLinkActive="active" routerLink="fornecedores" class="nav-link">
        <span class="tab-indicator">4</span>
        <span class="title">Fornecedores</span>
      </a>
    </li>
    <li
      class="nav-item"
      routerLinkActive="active"
      [class.disabled]="!orcamento?.grupoes?.length">
      <a routerLinkActive="active" routerLink="estrategias" class="nav-link">
        <span class="tab-indicator">5</span>
        <span class="title">Estratégia</span>
      </a>
    </li>
    <li
      class="nav-item"
      routerLinkActive="active"
      [class.disabled]="!orcamento?.grupoes?.length">
      <a routerLinkActive="active" routerLink="valores" class="nav-link">
        <span class="tab-indicator">6</span>
        <span class="title">Valores de referência</span>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
