@import '~@ng-select/ng-select/themes/default.theme.css';

.ng-select {
  .ng-select-container {
    border: solid 1px var(--greyish-brown);
    border-radius: 3px;

    .ng-placeholder,
    & {
      color: $headings-color !important;
      font-weight: normal;
      font-size: $h6-font-size;
    }

    .ng-placeholder {
      opacity: 0.5;
    }

    .ng-arrow-wrapper {
      padding-right: 24px;
      .ng-arrow {
        font-family: 'icomoon' !important;
        font-size: 6px;
        color: #3b3e41;
        border: none;
        &:before {
          content: '\e905';
        }
      }
    }
  }
  &.ng-select-opened {
    .ng-select-container {
      border: solid 1px #3b3e41;
      border-bottom-color: transparent;
      .ng-arrow {
        &:before {
          content: '\e915';
        }
      }
    }
  }
  &.ng-select-focused:not(.ng-select-opened) {
    .ng-select-container {
      border-color: var(--greyish-brown);
      box-shadow: none;
    }
  }

  &.ng-select-disabled {
    > .ng-select-container {
      background-color: #e9ecef;
    }

    * {
      cursor: not-allowed;
    }
  }
  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option {
        background-color: var(--ice-blue);
        &.ng-option-marked {
          background-color: var(--bluey-grey);
          color: var(--ice-blue);
        }
      }
    }
    &.ng-select-bottom {
      border: solid 1px var(--greyish-brown);
      border-top-color: transparent;
    }
  }
}
