.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.breadcrumb-item {
  display: inline-flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 15px;
  text-transform: lowercase;
  > *,
  & {
    color: #4a4a4a;
  }
  + .breadcrumb-item {
    &::before {
      font-family: 'icomoon', sans-serif;
      content: '\e910' !important;
      font-style: normal;
      font-size: 10px;
      line-height: 22px;
    }
  }

  &.active {
    &:before,
    & {
      color: $primary !important;
    }
  }
}
