.btn {
  font-weight: 500 !important;
  font-family: $font-family-base;
  padding: 0.44rem 0.75rem;

  &.btn-custom {
    width: 140px !important;
    height: 35px;
  }

  &.btn-circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 5px 0 rgba(136, 136, 136, 0.5);
  }

  &.btn-icon {
    background-color: transparent;
  }

  &.gradient-btn {
    transition: all 0.15s ease;
    box-shadow: none;
    border: 0;
    &:hover {
      background-position: bottom left;
      transition: 0.3s ease-in-out;
    }
    &.btn-primary {
      background-image: linear-gradient(278deg, #00b1ed, #089acc);
      background-color: $primary;
    }
    &.btn-secondary {
      background-image: linear-gradient(to right, #979797, #7a7a7a);
      background-color: $secondary;
    }
    &.btn-success {
      background-image: linear-gradient(283deg, #398e85, #44a79d);
      background-color: $success;
    }
    &.btn-default {
      background-image: linear-gradient(281deg, #9fc7d5, #546f78);
      background-color: #9fc7d5;
      color: white;
    }
  }

  &.btn-plus {
    padding: 0;
    opacity: 0.5;
    font-size: 20px;

    .icon {
      margin-top: 3px;
    }

    &:hover {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
}
