@import 'mixins/forms';
@import 'mixins/inputs';

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}

@mixin project-name {
  margin-bottom: 0;
  strong {
    font-weight: bold;
    margin-right: 6px;
  }
}
