.modal-backdrop {
  &.show {
    opacity: 0.9;
  }
  background-color: #fafafa;
}
.modal-content {
  box-shadow: 0 0 5px 0 rgba(136, 136, 136, 0.9);
  border: 0;
}

.modal-header {
  align-items: center;
  min-height: 43px;
  padding: 0 1rem;
  background-color: #f2f5f7;
  border-bottom-color: transparent;
  position: relative;

  .modal-title {
    font-size: $h5-font-size;
    font-weight: 500;
    font-family: $font-family-base;
  }

  .close,
  .modal-title {
    color: $headings-color;
  }

  .close {
    font-size: 15px;
    padding: 12px;
    margin: 0 0 0 auto;
    position: absolute;
    right: 0;
    opacity: 1;
  }
}

.modal-footer {
  border-top: 0;
  .btn {
    min-width: 140px;
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.modal-nova-familia {
  width: 445px;
  max-width: 445px;
}

.modal-lista-responsaveis {
  max-width: 445px;

  .modal-content {
    height: 566px;
  }
}

.modal-envio-cotacao {
  max-width: 920px;
}
