.tabs-steps {
  .nav-pills {
    li {
      ul {
        margin-right: 30px;
      }
      & + li {
        position: relative;
        margin-top: 40px;
        &:after {
          content: '';
          position: absolute;
          height: 40px;
          width: 1px;
          background: $headings-color;
          top: 0;
          left: 20%;
          transform: translate(-20%, -40px);
        }
      }
    }
  }
  .tab-content {
    width: 100%;
    height: auto;

    app-tab-datas,
    app-tab-estrategia {
      padding-left: 12.3rem;
    }
    @include media-breakpoint-down(md) {
      app-tab-datas {
        padding-left: unset;
      }
    }
  }
  .tab-container {
    margin-top: 24px;
  }
  .form-group-heading {
    font-weight: 500;
  }
  label {
    font-weight: normal;
  }
  .form-group-heading,
  label {
    color: $headings-color;
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tabs-steps,
.modalTabs > {
  .nav-pills {
    .nav-link {
      padding-bottom: 0;
      padding-top: 0;
      display: flex;
      align-items: center;
      background-color: transparent;

      .tab-indicator,
      .title {
        display: inline-flex;
        max-width: 90px;
      }

      .tab-indicator {
        position: relative;
        border-radius: 50%;
        color: $headings-color;
        align-items: center;
        justify-content: center;
        border: 1.5px solid $headings-color;
        font-weight: bold;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        background-color: white;
        z-index: 40;
        @include transition-input-focus-color();
      }

      .title {
        font-weight: 500;
        color: $tooltip-color;
        line-height: normal;
      }

      &.active {
        .tab-indicator {
          background: $headings-color;
          color: white;
        }

        .title {
          color: $headings-color;
        }
      }
    }
  }

  .tab-pane {
    &.active {
      animation: opacity-animation 300ms ease-out;
    }
  }
}
