$body-bg: #fafafa;
$body-color: #3b3e41;

//colors
$blue: #019bcf;
$red: #fb2525;
$green: #4d8012;
$green-alt: #00d46c;
$yellow: #f7bd00;
$blue-alt: #00c2f7;

$primary: $blue;
$secondary: #787878;
$success: $green;
$warning: $yellow;
$danger: $red;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'warning': $warning,
    'danger': $danger,
  ),
  $theme-colors
);

$border-radius: 3px;

// Typography
$font-family-base: Roboto;
$font-size-base: 0.875rem;
$small-font-size: 0.75rem;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$headings-font-family: $font-family-base;
$headings-color: #3c3c3c;
$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.57 !default;
$h3-font-size: $font-size-base * 1.42 !default;
$h4-font-size: $font-size-base * 1.286 !default;
$h5-font-size: $font-size-base * 1.14 !default;
$h6-font-size: $font-size-base !default;

// Cards
$card-border-radius: 3px;

// Modals
$modal-lg: 729px;
$modal-content-border-radius: $border-radius;

// Inputs
$input-btn-focus-width: 0.2rem;
$input-border-color: #3c3c3c;
$input-focus-border-color: $input-border-color;
$input-focus-box-shadow: 0 0 0 $input-btn-focus-width
  rgba($input-border-color, 0.25);

$custom-control-indicator-checked-bg: $body-color;

// Tooltips
$tooltip-arrow-color: white;
$tooltip-bg: white;
$tooltip-color: #9ea1ae;
$tooltip-font-size: 12px;

// Popover
$popover-arrow-color: white;
$popover-bg: white;
$popover-border-color: white;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    5: 5%,
    10: 10%,
    13: 13%,
    15: 15%,
    20: 20%,
    25: 25%,
    30: 30%,
    32: 32%,
    35: 35%,
    40: 40%,
    45: 45%,
    50: 50%,
    55: 55%,
    60: 60%,
    65: 65%,
    70: 70%,
    75: 75%,
    80: 80%,
    85: 85%,
    90: 90%,
    95: 95%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);

// Custom Spaces
$spacing: 10px;
