<div class="modal-header">
    <h4 class="modal-title">Arquivos de proposta comercial</h4>
    <button
      (click)="bsModalRef.hide()"
      aria-label="Close"
      class="close btn-icon"
      type="button"
    >
      <i class="icon icon-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="group-details">
      <p><strong>{{ listFiles?.codigoGrupo }} - {{ listFiles?.nomeGrupo }}</strong></p>
      <p><strong>{{ listFiles?.nomeFantasia }}</strong></p>
      <p><strong>Proposta:</strong> {{ listFiles?.idProposta }}</p>
    </div>

    <div class="drag-files mb-4">
      <ngx-file-drop
        dropZoneLabel="Drop files here"
        dropZoneClassName="drag-zone"
        contentClassName="d-flex align-itens-center"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <button
            class="drag-btn btn btn-primary gradient-btn"
            type="button"
            (click)="openFileSelector()"
          >
            anexar arquivos
          </button>
          <div class="drag-text p-2">
            <span>ou arraste e jogue seus arquivos aqui</span>
          </div>
        </ng-template>
      </ngx-file-drop>
    </div>

    <div class="files-list-updated">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Versão atual</th>
            <th>Data e hora</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="dark">
            <td>{{ listFiles?.propostaComercial[0].nomeArquivo }}</td>
            <td>{{ listFiles?.propostaComercial[0].data }}</td>
            <td><i class="icon icon-cloud-download"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="files-list-outdated">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Arquivos superados</th>
            <th>Data e hora</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listFiles?.propostaComercial">
              <td>{{ item.nomeArquivo }}</td>
              <td>{{ item.data }}</td>
            <td><i class="icon icon-cloud-download"></i></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary gradient-btn" type="button">
      Cancelar
    </button>
    <button class="btn btn-primary gradient-btn" type="button">
      Confirmar
    </button>
  </div>
