@import 'mixins';
@import 'variables';
.project-name {
  @include project-name();
  margin-bottom: 20px;
}

.modal-body {
  padding-top: 12px;
  max-height: 588px;
  overflow-y: auto;
  .drag-files {
    background-color: #f7f7f7;
    padding: 13px 0 13px 19px;
    .drag-btn {
      width: 30%;
    }
    .drag-text {
      width: 70%;
      text-align: center;
      color: $secondary;
    }
  }
  table.table td,
  table.table th {
    padding: 14px 0 14px 14px;
    &:nth-child(2) {
      text-align: center;
    }
  }
  table.table {
    thead {
      th {
        padding-top: 0;
        border-bottom: 1px solid #9ea1ae;
      }
    }
    tbody {
      tr {
        &.dark {
          background-color: #f7f7f7;
        }
      }
      td {
        border-bottom: 1px solid #9ea1ae;
      }
    }
  }
}

.modal-footer {
  .btn,
  app-submit-button {
    width: 200px;
  }
  .btn {
    &:first-of-type {
      margin-right: 30px;
    }
  }
}

::ng-deep {
  .modal.fade {
    transition: none;
  }
}
