<div class="custom-control custom-checkbox"
     [class.pl-0]="!selectionMode"
     [ngClass]="additionalClass">
  <input
    type="checkbox"
    [(ngModel)]="grupo.selecionado"
    (ngModelChange)="select()"
    class="custom-control-input"
    [id]="id"
    *ngIf="selectionMode"
  />
  <label [class.custom-control-label]="selectionMode" [for]="id">
    <span class="group-item-id">{{ grupo.codigoGrupo }}</span>
    <span class="divider">-</span>
    <span class="group-item-name">{{ grupo.nomeGrupo }}</span>
  </label>

  <ng-container *ngIf="additionalClass">
    <div class="d-flex justify-content-between">
      <div>
        {{ grupo.dataLimiteDefinicao }}
      </div>
    </div>
  </ng-container>
</div>
