@import 'variables';

@mixin border() {
  border-bottom: 1px solid $borderColor;
}

$responsavel-gray-darker: #7b8594;
$responsavel-gray: #9ea1ae;
$responsavel-gray-light: #f2f5f7;

$header-color: $responsavel-gray-darker;
$spacing: 16px;
$borderColor: $responsavel-gray;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

[class^='-icon-caret-'],
[class*='icon-caret-'] {
  font-size: 4.6px;
  color: $primary;
  margin-left: 15px;
}

img {
  height: 20px;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  margin-bottom: 20px;

  thead {
    @include border;

    th {
      font-size: $font-size-base * 0.85;
      padding: $spacing;
      color: $header-color;
      font-weight: bold;
      vertical-align: bottom;

      &:last-child {
        text-align: end;
      }
    }
  }

  tbody {
    tr {
      @include border;

      td {
        padding: $spacing - 1 $spacing;
        font-size: $font-size-base * 0.85;
        &:first-child {
          .group-item-id {
            width: 30%;
            display: inline-block;
            font-size: 12px;
          }

          .divider {
            margin-right: 10px;
          }

          .group-item-name {
            text-transform: lowercase;
          }
        }

        &:nth-child(2) {
          width: 35%;
        }
        &:nth-child(3) {
          width: 10%;
          text-align: center;
        }
        &:nth-child(4) {
          width: 20%;
          direction: rtl;
          padding-right: $spacing;
          padding-left: $spacing;
        }
        &:nth-child(5) {
          text-align: end;
          width: 5%;
        }
      }
    }
  }
}

.pt-15 {
  padding-top: 15px;
}

.pt-pb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.th-area {
  p {
    font-size: 12px;
    font-weight: 500;
    color: #7b8594;
  }
}

.border-bottom-divisor {
  border-bottom: solid 1px $tooltip-color;
}

.color-custom-grey {
  color: #3c3c3c;
  opacity: 0.5;
}

.line-group {
  font-size: 12px;
  padding: 15px 0px;
}
