
<div
class="d-flex flex-column justify-content-start wrapper">

  <div class="d-flex mb-40">
    <div class="col-md-4 p-0">
      <ng-select
        [items]="optionTypes"
        [(ngModel)]="selectedType"
        placeholder="ordenar"
        [clearable]="false"
        [searchable]="false"
        (change)="onSelect()"
        id="select-order-group"
      >
      </ng-select>
    </div>

    <div class="col-md-8 d-flex justify-content-end p-0">
      <button type="button" (click)="openProjetosModal()" class="btn gradient-btn btn-secondary btn-custom2">consultar outro projeto</button>
    </div>
  </div>

  <app-collapse [closeOthers]="true" *ngIf="(displayBy | async) === 'grupo'" [@fadeInOut]>
    <app-collapse-group
      *ngFor="let familia of items$ | async; let i = index"
      class="mb-40 d-block"
      [(isOpen)]="collapses['isOpen_' + i]"
    >
      <ng-container collapse-heading>
        <h1
          class="family-group-header d-flex align-items-center"
          (click)="collapses['isOpen_' + i] = !collapses['isOpen_' + i]"
        >
          {{ familia.descricaoFamilia | lowercase }}
          <i
            class="icon"
            [class.icon-caret-up]="collapses['isOpen_' + i]"
            [class.icon-caret-down]="!collapses['isOpen_' + i]"
          ></i>
        </h1>
      </ng-container>
      <table>
        <thead>
          <tr>
            <th>grupos</th>
            <th>descricao</th>
            <th>percentual histórico</th>
            <th>valor meta</th>
            <th>
              <i>
                <img src="assets/img/icons/reorder.svg" alt="">
              </i>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let grupoes of familia.grupoes">
            <ng-container
              class="d-flex line-group border-bottom-divisor align-items-center"
              *ngFor="
                let grupo of grupoes.grupos;
                let iGroup = index;
                trackBy: trackByFn">
              <tr>
                <td>
                  <span class="group-item-id">{{ grupo.codigoGrupo }}</span>
                  <span class="divider">-</span>
                  <span class="group-item-name">{{ grupo.nomeGrupo }}</span>
                </td>
                <td>
                  <textarea
                    appAutoSize
                    class="form-control"
                    type="text-area"
                    placeholder="anotações."
                    [(ngModel)]="grupo.descricaoComplementarGrupo"
                  ></textarea>
                </td>
                <td>05%</td>
                <td>
                  <input
                    id="valorMetaGrupo"
                    appCurrency
                    (ngModelChange)="onKey()"
                    [(ngModel)]="grupo.valorMetaGrupo"
                    class="form-control"
                    placeholder="ex: 50.000,00"
                    type="text"
                  />
                </td>
                <td>05%</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </app-collapse-group>
  </app-collapse>

  <div *ngIf="(displayBy | async) !== 'grupo'" [@fadeInOut]>
    <table>
        <thead>
          <tr>
            <th>grupos</th>
            <th>descricao</th>
            <th>percentual histórico</th>
            <th>valor meta</th>
            <th>
              <i>
                <img src="assets/img/icons/reorder.svg" alt="">
              </i>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            class="d-flex line-group border-bottom-divisor align-items-center"
            *ngFor="let grupo of items$ | async as grupos; let i = index"
          >
            <tr>
              <td>
                <span class="group-item-id">{{ grupo.codigoGrupo }}</span>
                <span class="divider">-</span>
                <span class="group-item-name">{{ grupo.nomeGrupo }}</span>
              </td>
              <td>
                <textarea
                  appAutoSize
                  id="anotacao-grupo"
                  class="form-control"
                  type="text"
                  placeholder="anotações."
                  [(ngModel)]="grupo.descricaoComplementarGrupo"
                  ></textarea>
              </td>
              <td>_05%</td>
              <td>
                <input
                  id="valorMetaGrupo"
                  (ngModelChange)="onKey()"
                  appCurrency
                  [(ngModel)]="grupo.valorMetaGrupo"
                  class="form-control"
                  placeholder="ex: 50.000,00"
                  type="text"
                />
              </td>
              <td>_05%</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
  </div>

  <div class="d-flex justify-content-end mt-auto">
    <a
      routerLink="../responsaveis"
      class="btn gradient-btn btn-secondary btn-custom"
    >
      voltar
    </a>
    <button
      class="btn gradient-btn btn-success btn-custom ml-4 d-flex justify-content-center"
      type="button"
    >
      salvar
    </button>
    <a
      routerLink="../estrategias"
      class="btn gradient-btn btn-primary btn-custom ml-4 d-flex justify-content-center"
    >
      próximo
    </a>
  </div>
</div>
