<div class="row mt-3 mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body p-0">
        <div class="table-responsive">
          <div class="container">
            <div
              class="row thead-gray p-2"
              *ngIf="cabecalho$ | async as cabecalho"
            >
              <div class="col-6">
                {{ cabecalho.fornecedor.nomeFornecedor }}
                {{ cabecalho.fornecedor.versao | uppercase }}
                {{ cabecalho.fornecedor.proposta.id }}
              </div>
              <div class="col-6 text-right">
                Grupo:
                <span>{{ cabecalho.fornecedor.grupo.codigoGrupo }} </span>
                <span>{{ cabecalho.fornecedor.grupo.nomeGrupo }} </span>
              </div>
            </div>
          </div>
          <div class="container graphite">
            <div class="row justify-content-end px-3 pb-0 pt-2 text-right">
              <div class="col offset-md-3">
                <label class="label">Itens Orçamentos</label>
                <p class="font-size-normal">0/0</p>
              </div>
              <div class="col">
                <label class="label">Produtos</label>
                <p class="font-size-normal">R$</p>
              </div>
              <div class="col">
                <label class="label">Serviços </label>
                <p class="font-size-normal">R$</p>
              </div>
              <div class="col">
                <label class="label">Produtos + Serviços </label>
                <p class="font-size-normal">R$</p>
              </div>
            </div>
            <div class="w-100 "><hr /></div>
            <div class="row justify-content-end px-3 pb-3 pt-2 text-right">
              <div class="col offset-md-1">
                <label class="label">Local da Obra</label>
                <p class="m-0 font-size-base">São Paulo</p>
                <p class="m-0 font-size-base">Piracicaba</p>
              </div>
              <div class="col">
                <label class="label">Horário</label>
                <p class="m-0 font-size-base">Noturno</p>
                <p class="m-0 font-size-base">Dias da Semana</p>
              </div>
              <div class="col">
                <label class="label">Prazo Obra</label>
                <p class="m-0 font-size-base">01/07/2019</p>
                <p class="m-0 font-size-base">01/07/2019</p>
              </div>
              <div class="col">
                <label class="label">Prazo Notas Fiscais</label>
                <p class="font-size-base">7 Dias</p>
              </div>
              <div class="col">
                <label class="label">Prazo Pagamento</label>
                <p class="font-size-base">30 Dias</p>
              </div>
              <div class="col">
                <label class="label">Valor mínimo refaturamento</label>
                <p class="font-size-base">R$ 10.000,00</p>
              </div>
            </div>
          </div>
          <div class="container middler">
            <tabset #staticTabs class="modalTabs" type="pills">
              <tab customClass="">
                <ng-template tabHeading>
                  <span class="tab-indicator">1</span>
                  <span class="title text-center TabNowrap left-30"
                    >Condições de Gerais de <br />
                    Fornecimento</span
                  >
                </ng-template>
                <app-condicoes-fornecimento></app-condicoes-fornecimento>
              </tab>
              <tab customClass="">
                <ng-template tabHeading>
                  <span class="tab-indicator">2</span>
                  <span class="title text-center TabNowrap "
                    >Normas e <br />recomendações</span
                  >
                </ng-template>
                <app-normas-recomendacoes></app-normas-recomendacoes>
              </tab>
              <tab customClass="">
                <ng-template tabHeading>
                  <span class="tab-indicator">3</span>
                  <span class="title text-center TabNowrap left-20"
                    >Preencher Orçamento</span
                  >
                </ng-template>
                <app-preencher-orcamento></app-preencher-orcamento>
              </tab>
              <tab customClass="">
                <ng-template tabHeading>
                  <span class="tab-indicator">4</span>
                  <span class="title text-center TabNowrap left-20"
                    >Aplicar Descontos</span
                  >
                </ng-template>
                <app-aplicar-descontos></app-aplicar-descontos>
              </tab>
              <tab customClass="">
                <ng-template tabHeading>
                  <span class="tab-indicator">5</span>
                  <span class="title text-center TabNowrap"
                    >Enviar Proposta</span
                  >
                </ng-template>
                <app-enviar-proposta></app-enviar-proposta>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
