@import 'variables';
@import 'mixins';

$spacing: 10px;

.project-header {
  margin-top: 20px;
}
.buttons {
  button {
    margin-right: $spacing / 2;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(192, 192, 192, 0.5);
    background-color: #ffffff;
    border: 0;
    overflow: hidden;
    padding: $spacing $spacing * 1.5 $spacing $spacing * 3.5;
    font-size: $font-size-base;
    color: $headings-color;
  }
}

div.w-100 {
  background: #8b8b84;
  hr {
    margin-bottom: 0.1rem;
  }
}
.thead-gray {
  color: white;
  background-color: #787878;
  border-color: #9ea1ae;
  font-size: $h4-font-size;
  font-family: $font-family-base;
  font-weight: 500;
}
.graphite {
  color: #313131;
  background-color: $graphite;
  font-size: $h3-font-size;
  font-family: $font-family-base;
  font-weight: 500;
}

.font-size-normal {
  color: #313131;
  border-color: #9ea1ae;
  font-size: $font-size-normal;
  font-family: $font-family-base;
  font-style: $font-style-italic;
}
.font-size-base {
  color: #313131;
  border-color: #9ea1ae;
  font-size: $font-size-base;
  font-family: $font-family-base;
  font-style: $font-style-italic;
}
.label {
  font-family: $font-family-base;
  font-size: $small-font-size;
  font-style: $font-style-italic;
  margin-bottom: 5px;
  color: $greey-light;
}
.left-30 {
  position: relative;
  left: -30%;
}
.left-20 {
  position: relative;
  left: -20%;
}

.graphite div {
  label,
  p {
    margin: 0;
    padding: 0;
  }
}
.middler {
  padding: 20px 100px;
}
.TabNowrap {
  white-space: nowrap;
}

:host ::ng-deep .modalTabs {
  > .nav-pills {
    display: flex;
    justify-content: space-between;
    position: relative;

    .nav-link {
      flex-direction: column;
      justify-content: center;
    }

    .nav-item {
      &:not(:last-child) {
        &:after {
          display: block;
          z-index: 9;
          position: absolute;
          width: 81.5%;
          height: 1px;
          background-color: $headings-color;
          content: '';
          top: 22%;
          left: 8.7%;
        }
      }

      .title {
        max-width: 98px;
        margin-top: 10px;
      }
    }
  }

  .step-3 {
    margin: 0 -1rem;
  }

  > .tab-content {
    margin-top: 30px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
}

.tabslist {
  list-style: none;
}
