<div class="container-fluid">
  <alert [dismissible]="true" class="teste" (onClosed)="onClosed(alert)">{{
    alert
  }}</alert>
  <p class="titulo">Informações do Projeto</p>
  <br />
  <section #gerais>
    <p class="sub-titulo">Gerais</p>
    <hr />
    <div class="row p-2">
      <div class="col-4">Profissional A/W Responável</div>
      <div class="col-4 font-weight-bold">Nome do Profissional</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Área Total do Projeto</div>
      <div class="col-4 font-weight-bold">2.000 m²</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Prazo Limite para envio da proposta</div>
      <div class="col-4 font-weight-bold">17/06/2019</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Grupo:</div>
      <div class="col-4 font-weight-bold">230.001 Vidro Plano e Lousa</div>
    </div>
    <div class="row p-2">
      <div class="col-12">Mensagem:</div>
      <div class="col-12">
        <span>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
          ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
          veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
          ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
          hendrerit in vulputate velit esse molestie consequat, vel illum dolore
          eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
          dignissim qui blandit praesent luptatum zzril delenit augue duis
          dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, cons
          ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
          veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
          ut aliquip ex ea commodo consequat.
        </span>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">Observações:</div>
      <div class="col-12">
        Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
        commodo consequat. Duis autem vel eum iriure.
      </div>
    </div>
  </section>
  <section #local>
    <div class="row p-2">
      <section class="col-6" #left>
        <p class="sub-titulo">Local</p>
        <hr />
        <div class="row p-0 py-1 col-12">
          <div class="col-4">Cidade</div>
          <div class="col-6 font-weight-bold">Piracicaba</div>
        </div>
        <div class="row p-0 py-1 col-12">
          <div class="col-4">Estado</div>
          <div class="col-6 font-weight-bold">SP</div>
        </div>
        <div class="row p-0 py-1 col-12">
          <div class="col-4">País</div>
          <div class="col-6 font-weight-bold">Brasil</div>
        </div>
        <div class="row p-0 py-1 col-12">
          <div class="col-4">Endereço</div>
          <div class="col-6 font-weight-bold">Rodovia Hermínio Petrin</div>
        </div>
        <div class="row p-0 py-1 col-12">
          <div class="col-4">Número</div>
          <div class="col-6 font-weight-bold">Km 177</div>
        </div>
        <div class="row p-0 py-1 col-12">
          <div class="col-4">Complemento</div>
          <div class="col-6 font-weight-bold">
            SP 308, Rodovia dos Bandeirantes
          </div>
        </div>
        <div class="row p-0 py-1 col-12">
          <div class="col-4">CEP</div>
          <div class="col-6 font-weight-bold">00000-000</div>
        </div>
      </section>
      <section class="col-6" #right>
        <div class="row">
          <span class="row col-12 sub-titulo">Visita no Local da Obra </span>
          <hr class="w-100" />
          <div class="row p-0 py-1 col-12">
            <div class="col-6">Será necessária visita</div>
            <div class="col-6 font-weight-bold">
              Sim, obrigatório para fazer o orçamento
            </div>
          </div>
          <div class="row p-0 py-1 col-12">
            <div class="col-6">Contato para visita</div>
            <div class="col-6 font-weight-bold">Fulano de Tal</div>
          </div>
          <div class="row p-0 py-1 col-12">
            <div class="col-6">Telefone</div>
            <div class="col-6 font-weight-bold">(11) 5555-5555</div>
          </div>
        </div>
        <div class="row py-3">
          <span class="row col-12 sub-titulo">Condições do Local </span>
          <hr class="w-100" />
          <div class="row p-0 py-1 col-12">
            <div class="col-6">Restrições da obra</div>
            <div class="col-6 font-weight-bold">
              Liberado durante o dia, das 7h00 às 18h00
            </div>
          </div>
          <div class="row p-0 py-1 col-12">
            <div class="col-6">O local da obra estará</div>
            <div class="col-6 font-weight-bold">
              Utilizado parcialmente pelo cliente
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section #prazo class="">
    <p class="sub-titulo">Prazo Total da Obra</p>
    <hr />
    <div class="row p-2">
      <div class="col-4">Prazo de Início da Obra</div>
      <div class="col-4 font-weight-bold">01/07/2019</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Prazo de Término da Obra</div>
      <div class="col-4 font-weight-bold">02/09/2019</div>
    </div>
  </section>
  <section #fornecedor class="py-2">
    <p class="sub-titulo">Prazos do Fornecedor</p>
    <hr class="w-100" />
    <div class="row">
      <div *ngFor="let fase of fases$ | async">
        <div class="px-3 col-12">
          <span class="font-weight-bold">Fase: {{ fase.nomeFase }} </span>
          <div class="p-2">
            <div class="col-12 py-1">
              Data de entrega dos Produtos
              <span class="font-weight-bold">{{ fase.dataEntregaFase }}</span>
            </div>
            <div class="col-12 py-1">
              Início dos Serviços
              <span class="font-weight-bold">{{ fase.dataInicioFase }}</span>
            </div>
            <div class="col-12 py-1">
              Término dos Serviços
              <span class="font-weight-bold">{{ fase.dataFimFase }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section #faturamento>
    <p class="sub-titulo py-3">Condições Gerais de Faturamento</p>
    <hr />
    <div class="row p-2">
      <div class="col-4">Necessidade de cadastro prévio no cliente</div>
      <div class="col-4 font-weight-bold">NÃO</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Condição de pagamento</div>
      <div class="col-4 font-weight-bold">Por medição mensal</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Impostos retidos</div>
      <div class="col-6 font-weight-bold">
        <p>NF Produto - Não retem imposto</p>
        <p>NF Serviço - Retenção de imposto</p>
        <ul class="font-weight-normal">
          <li>INSS: 3%</li>
          <li>ISS: 5%</li>
        </ul>
        <p>NF Empreitada - Retenção de impostos sobre o valor do serviço</p>
        <ul class="font-weight-normal">
          <li>INSS: 11%</li>
          <li>ISS: 5%</li>
        </ul>
        <p>Observação:</p>
        <p class="font-weight-normal">
          Em caso de dúvidas com relação a impostos entrar em contato com Mônica
          Rocca pelo e-mail: monica.rocca@awnet.com.br
        </p>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-4">Informações importantes</div>
      <div class="col-6 font-weight-bold">
        <p>FATURAMENTO DIRETO PARA O CLIENTE:</p>
        <p class="font-weight-normal">
          É prerrogativa do cliente reter ou não os impostos sobre o valor total
          da Nota Fiscal ou sobre o valor do serviço.
        </p>
        <p>FATURAMENTO DIRETO PARA O GRUPO AW:</p>
        <p class="font-weight-normal">
          A retenção de impostos serão sobre o valor total da NF.
        </p>
        <p>
          RECOMENDAMOS FORTEMENTE QUE O FORNECEDOR SE ESTRUTURE COM NOTAS PARAS
          PRODUTOS E NOTAS PARA SERVIÇO.
        </p>
        <p class="font-weight-normal">
          Dúvidas sobre esse tema, enviar e-mail para:
          melhoriasdeprocesso@awnet.com.br
        </p>
      </div>
    </div>
  </section>
  <section #pagamento>
    <p class="sub-titulo">Pagamentos</p>
    <hr />
    <div class="row p-2">
      <div class="col-4">Forma de Pagamento</div>
      <div class="col-4 font-weight-bold">Depósito Bancário</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Banco(s) exigido(s) para cobrança</div>
      <div class="col-4 font-weight-bold">Santander</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Documentos Exigidos</div>
      <div class="col-4 font-weight-bold">Contrato Assinado</div>
    </div>
    <div class="row p-2">
      <div class="col-4">NF necessariamente deverá ser espelho de PO</div>
      <div class="col-4 font-weight-bold">NÃO</div>
    </div>
    <div class="row p-2">
      <div class="col-4">
        Uma PO poderá ser faturada através de diversas NFs
      </div>
      <div class="col-4 font-weight-bold">SIM</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Para faturamento Cliente</div>
      <div class="col-4 font-weight-bold">
        O pagamento ocorrerá em 34 dias corridos após a entrega dos documentos
        fiscais de cobrança na AW
      </div>
    </div>
    <div class="row p-2">
      <div class="col-4">Para faturamento Grupo AW</div>
      <div class="col-4 font-weight-bold">
        O pagamento ocorrerá em 34 dias corridos após a entrega dos documentos
        fiscais de cobrança na AW
      </div>
    </div>
    <div class="row p-2">
      <div class="col-4">Para clientes, produto</div>
      <div class="col-4 font-weight-bold">A partir do dia 01 de cada mês.</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Para clientes, serviço</div>
      <div class="col-4 font-weight-bold">A partir do dia 16 de cada mês.</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Para Grupo AW, produto</div>
      <div class="col-4 font-weight-bold">A partir do dia 01 de cada mês.</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Para Grupo AW, serviço</div>
      <div class="col-4 font-weight-bold">A partir do dia 01 de cada mês.</div>
    </div>
    <div class="row p-2">
      <div class="col-4">Para Grupo AW, serviço</div>
      <div class="col-4 font-weight-bold">A partir do dia 01 de cada mês.</div>
    </div>
  </section>
  <section #integracao>
    <p class="sub-titulo">Condições Gerais de Faturamento</p>
    <hr />
    <div class="row p-2">
      <div class="col-4">Prazo de Início da Obra</div>
      <div class="col-4 font-weight-bold">01/07/2019</div>
    </div>
  </section>
  <div class="float-right py-3">
    <button class="mx-2 btn btn-secondary" (click)="declinarProposta()">
      Declinar proposta
    </button>
    <button class="mx-2 btn btn-success" (click)="imprimirProposta()">
      Imprimir
    </button>
    <button class="mx-2 btn btn-primary" (click)="salvarProposta()">
      Ciente > Próximo
    </button>
  </div>
</div>
